@import play.api.i18n.Messages
@import _root_.util.Formatters._

@main("Collection Created") {

    <div class="page-header">
        <h1> Collection Successfully Created</h1>
    </div>

    <div class="row message-row">
        <div class="col-md-12">
            <p>You may go back to the home screen or close the window to refresh the tree and view your new collection!
            </p>
        </div>
    </div>
}
