@(collection: models.Collection, redirect: Call, space: Option[String], classes: String, showFollow: Boolean)(implicit user: Option[models.User])
@import _root_.util.Formatters.ellipsize
@import api.Permission
@import play.api.i18n.Messages

<div class="post-box @classes" id="@collection.id-tile">
    <div class="panel panel-default collection-panel">
        <div class="pull-left">
            <span class="glyphicon glyphicon-th-large collection-background"></span>
        </div>
        <div class="panel-body">
            @if(!collection.thumbnail_id.isEmpty){
                <a href="@(routes.Collections.collection(collection.id))">
                    <img class="img-responsive fit-in-space" src="@(routes.Files.thumbnail(UUID(collection.thumbnail_id.toString().substring(5,collection.thumbnail_id.toString().length-1))))" alt="Thumbnail of @Html(collection.name)">
                </a>
            }
            <div class="caption break-word">
                <h4><a href="@(routes.Collections.collection(collection.id))">@Html(collection.name)</a></h4>
                <p class="abstractsummary">@Html(collection.description.replace("\n","<br>"))</p>
            </div>
        </div>
            <!-- Collection Info -->
        <ul class="list-group">
            <li class="list-group-item collection-panel-footer">
                <span class="glyphicon glyphicon-briefcase hideTree" title="@collection.datasetCount datasets"></span> @collection.datasetCount
                <span class="glyphicon glyphicon-th-large" title="@collection.childCollectionsCount child collections"></span> @collection.childCollectionsCount
                @if(user.isDefined) {
                    @if(space.isDefined) {

                        @if(user.get.id.equals(collection.author.id) || Permission.checkPermission(Permission.RemoveResourceFromSpace, ResourceRef(ResourceRef.space,UUID(space.get)))) {
                            <button onclick="confirmRemoveResourceFromResource('space','@Messages("space.title")','@(UUID(space.getOrElse("")))','collection','@(collection.id)','@(collection.name.replace("'","&#39;"))',true,'@redirect.url')" class="btn btn-link" title="Remove the collection from the @Messages("space.title")">
                                <span class="glyphicon glyphicon-remove"></span></button>
                        } else {
                            <div class="inline" title="No permission to remove the collection from the @Messages("space.title").">
                                <button disabled class="btn btn-link"><span class="glyphicon glyphicon-remove"></span></button>
                            </div>
                        }

                    } else {
                        <!-- If user can delete, the button is enabled, otherwise the button is present but disabled to provide consistent UE. -->
                        @if( user.get.id.equals(collection.author.id) || Permission.checkPermission(Permission.DeleteCollection, ResourceRef(ResourceRef.collection, collection.id))){
                            <button onclick="confirmDeleteResource('collection','collection','@(collection.id)','@(collection.name.replace("'","&#39;"))',false,'@redirect.url')" class="btn btn-link" title="Delete the collection but not its contents">
                                <span class="glyphicon glyphicon-trash"></span></button>
                        } else {
                            <div class="inline" title="No permission to delete collection.">
                                <button disabled class="btn btn-link"><span class="glyphicon glyphicon-trash"></span></button>
                            </div>
                        }
                    }
                }
            </li>
        </ul>
        @if(showFollow) {
            <ul class="list-group center-margin">
            @user match {
                case Some(viewer) => {
                    <a id="followButton" type="button" class="btn-link" data-toggle="button" autocomplete="off" objectType="collection" objectId="@collection.id.stringify">
                    @if(viewer.followedEntities.filter(x => (x.id == collection.id)).nonEmpty) {
<!--                         <span class='glyphicon glyphicon-star-empty'></span>Unfollow
 -->                    } else {
<!--                         <span class='glyphicon glyphicon-star'></span> Follow
 -->                    }
                    </a>
                }
            }
            </ul>
        }
    </div>
</div>