@(dataset: Dataset, spaces: List[ProjectSpace])(implicit user: Option[models.User])
@import play.api.i18n.Messages
@import _root_.util.Formatters._

@main(Messages("add.to", Messages("dataset.title"))) {



    <!-- Custom items for the create dataset workflow -->
    <script src="@routes.Assets.at("javascripts/dataset-attach-fileuploader.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/errorRedirect.js")" type="text/javascript"></script>

    <div class="row">
    <ol class="breadcrumb">
        @if(spaces.length == 1) {
            <li><span class="glyphicon glyphicon-tent"></span> <a href="@routes.Spaces.getSpace(spaces.head.id)" title="@spaces.head.name"> @Html(ellipsize(spaces.head.name, 18))</a></li>
        } else {
            @if(spaces.length > 1) {
                <li>
                    <span class="dropdown">
                        <button class="btn-link dropdown-toggle" type="button" id="dropdown_space_list" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="true">
                            <span class="glyphicon glyphicon-tent"></span> <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" arialanelledby="dropdown_space_list">
                        @spaces.map{ s =>
                            <li><a href="@routes.Spaces.getSpace(s.id)" title="s.name"><span class="glyphicon glyphicon-tent"></span> @Html(ellipsize(s.name, 18))</a></li>
                        }
                        </ul>
                    </span>
                </li>
            } else {
                <li><span class="glyphicon glyphicon-user"></span> <a href = "@routes.Profile.viewProfileUUID(dataset.author.id)"> @dataset.author.fullName</a></li>
            }
            <li><span class="glyphicon glyphicon-briefcase"></span> <a href="@routes.Datasets.dataset(dataset.id)"> <span title="@dataset.name"> @Html(ellipsize(dataset.name, 18))</span> </a> </li>
            <li> <span class="glyphicon glyphicon-upload"></span> Upload Files</li>
        }
    </ol>
    </div>
    <div class="page-header">
        <h1> @Messages("dataset.title") Created</h1>
    </div>
    <div class="row message-row">
        <div class="col-md-12">
            <p>@Messages("create.step2.message", Messages("dataset.title").toLowerCase) <a href="@routes.Datasets.dataset(dataset.id)">@dataset.name</a> @Messages("create.step2.message.2", Messages("dataset.title").toLowerCase)
            </p>
        </div>
    </div>
    <div class="row button-row">
        <div class="col-md-12 bottom-padding top-padding">
            <a class="btn btn-primary" href="@routes.Datasets.dataset(dataset.id)">
                <span class="glyphicon glyphicon-list"></span> View @Messages("dataset.title")</a>
        </div>
    </div>
    <h3>Add Files</h3>
    @datasets.uploadFiles(dataset, None)
}