@(dataset: Dataset)(implicit user: Option[models.User])

@if(user.isDefined) {
    @if(!dataset.followers.contains(user.get.id)) {
<!--         <button id="followButton"
                class="btn btn-link"
                objectId="@dataset.id"
                objectName="@dataset.name"
                objectType="dataset"><span class="glyphicon glyphicon-star"></span> Follow
        </button>
 -->    } else {
<!--         <button id="followButton"
                class="btn btn-link"
                objectId="@dataset.id"
                objectName="@dataset.name"
                objectType="dataset"><span class="glyphicon glyphicon-star-empty"></span> Unfollow
        </button>
 -->    }

    <div id="recommendPanel" class="panel panel-default" style="display : none;">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-parent="#accordion"
                href="#collapseThree"
                aria-expanded="true"
                style="float:left;">
                    Also follow these?
                </a>
                <a style="float:right;" href="javascript:$('#recommendPanel').slideToggle('slow');">x</a>
                <div style="clear : both;"></div>
            </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse in" aria-expanded="true">
            <div id="recommendDiv" class="panel-body">
            </div>
        </div>
    </div>

    <script src="@routes.Assets.at("javascripts/recommendation.js")" type="text/javascript"></script>
    <script>
        $(document).on('click', '.followButton', function() {
            var id = $(this).attr('objectId');
            var name = $(this).attr('objectName');
            var type = $(this).attr('objectType');
            if ($(this).attr('id') === '') {
              followHandler.call(this, jsRoutes, id, name, type, undefined, undefined);
            } else {
              followHandler.call(this, jsRoutes, id, name, type, function(data) {
                    recommendationHandler(jsRoutes, $('#recommendPanel'), $('#recommendDiv'),
                                  data['recommendations']);
                }, undefined);
            }
        });
    </script>
}

