@(dataset: models.Dataset, collectionId: Option[String], comments: Map[UUID, Int], redirect: Call, selected: Boolean)(implicit  flash: play.api.mvc.Flash, user: Option[models.User])
@import api.Permission

<div class = "panel panel-default dataset-panel" id="@dataset.id-listitem">
@if(!dataset.thumbnail_id.isEmpty){
    <div class="row">
        <div class="pull-left col-xs-12">
            <span class="glyphicon glyphicon-briefcase"></span>
        </div>
    </div>
}
    <div class="panel-body">
        @if(user.isDefined) {
            @if(selected) {
                <a href="javascript: void(0)" title="Click to deselect dataset" class="pull-right select" data-id="@dataset.id">
                    <span class="glyphicon glyphicon-ok"></span>
                </a>
            } else {
                <a href="javascript: void(0)" title="Click to select dataset" class="pull-right select" data-id="@dataset.id">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            }
        }
        <div class="row">
            <div class="col-xs-2">
                @if(!dataset.thumbnail_id.isEmpty){
                    <img class="fit-in-space" src="@(routes.Files.thumbnail(UUID(dataset.thumbnail_id.toString().substring(5,dataset.thumbnail_id.toString().length-1))))" alt="Thumbnail of @Html(dataset.name)">
                } else {
                    <a href="@routes.Datasets.dataset(dataset.id)">
                        <span class="bigicon glyphicon glyphicon-briefcase"></span>
                    </a>
                }
            </div>
            <div class="col-xs-10">
                <div class="row">
                    <div class="col-md-8 col-lg-8 col-sm-8">
                        <div class="row">
                            <div class="col-xs-12">
                                <span class="h2"><a href="@(routes.Datasets.dataset(dataset.id))">@Html(dataset.name)</a></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 abstractsummary">@Html(dataset.description.replace("\n","<br>"))</div>
                        </div>
                        <div class="row top-padding">
                            <div class="col-xs-12">
                                @Messages("owner.label"): <a href= "@routes.Profile.viewProfileUUID(dataset.author.id)"> @dataset.author.fullName </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">Created on @dataset.created.format("MMM dd, yyyy")</div>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4 col-sm-4">
                        @if(user.isDefined) {
                            @if(!dataset.followers.contains(user.get.id)) {
                                <div>
<!--                                     <a id="followButton"
                                        class="btn btn-link"
                                        objectId="@dataset.id"
                                        objectName="@dataset.name"
                                        objectType="dataset">
                                            <span class='glyphicon glyphicon-star'></span> Follow
                                    </a>
 -->                                </div>
                            } else {
                                <div>
<!--                                     <a id="followButton"
                                        class="btn btn-link"
                                        objectId="@dataset.id"
                                        objectName="@dataset.name"
                                        objectType="dataset">
                                            <span class='glyphicon glyphicon-star-empty'></span> Unfollow
                                    </a>
 -->                                </div>
                            }
                        }
                        @if(dataset.files.length > 0 && Permission.checkPermission(Permission.DownloadFiles, ResourceRef(ResourceRef.dataset, dataset.id))) {
                            <div>
                                <a id='download-dataset-url' href="#"
                                    onclick="window.open(jsRoutes.api.Datasets.download('@dataset.id').url, '_blank');"
                                    class="btn btn-link" title="Download All Files as Zip" role="button">
                                        <span class="glyphicon glyphicon-download-alt"></span>
                                            Download All Files</a>
                            </div>
                        }
                        @if(user.isDefined) {
                            @if(collectionId.isDefined) {
                                @if(user.get.id.equals(dataset.author.id) || Permission.checkPermission(Permission.RemoveResourceFromCollection, ResourceRef(ResourceRef.collection, UUID(collectionId.get)))){
                                    <button onclick="confirmRemoveResourceFromResource('collection','collection','@collectionId.get','dataset','@(dataset.id)','@(dataset.name.replace("'","&#39;"))',true,'@redirect.url')"
                                    class="btn btn-link" title="Remove the dataset from the collection.">
                                        <span class="glyphicon glyphicon-remove"></span> Remove</button>
                                } else {
                                    <div class="inline" title="No permission to remove dataset from the collection.">
                                        <button disabled class="btn btn-link"><span class="glyphicon glyphicon-remove"></span> Remove</button>
                                    </div>
                                }
                            } else {
                                @if(user.get.id.equals(dataset.author.id) || Permission.checkPermission(Permission.DeleteDataset, ResourceRef(ResourceRef.dataset, dataset.id))){
                                    <button onclick="confirmDeleteResource('dataset','dataset','@(dataset.id)','@(dataset.name.replace("'","&#39;"))',false,'@redirect.url')"
                                    class="btn btn-link" title="Delete the dataset and its contents">
                                        <span class="glyphicon glyphicon-trash"></span> Delete</button>
                                } else {
                                    <div class="inline" title="No permission to delete the dataset">
                                        <button disabled class="btn btn-link"><span class="glyphicon glyphicon-trash"></span> Delete</button>
                                    </div>
                                }
                            }
                        }
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <script src="@routes.Assets.at("javascripts/datasetListProcess.js")" type="text/javascript"></script>
