@(space: models.ProjectSpace, redirect: Call)(implicit user: Option[models.User])
@import api.Permission
@import play.api.i18n.Messages
<div class="panel panel-default space-panel" id="@space.id-listitem">
    @if(!space.logoURL.isEmpty) {
        <div class="row">
            <div class="pull-left col-xs-12">
                <span class="glyphicon glyphicon-hdd"></span>
            </div>
        </div>

    }
    <div class="panel-body">
        <div class = "row">
            <div class="col-xs-2">
                @if(!space.logoURL.isEmpty) {
                    <a href="@routes.Spaces.getSpace(space.id)"> <img class="fit-in-space" src="@(space.logoURL)" alt="Thumbnail of @(space.name)"></a>
                } else {
                    <a href="@routes.Spaces.getSpace(space.id)">
                        <span class="bigicon glyphicon glyphicon-hdd"></span>
                    </a>
                }
            </div>
            <div class="col-xs-10 ">
                <div class="row">
                    <div class="col-xs-12">
                        <h3><a href="@routes.Spaces.getSpace(space.id)">@space.name</a></h3>
                    </div>
                </div>

                <div class= "row">
                    <div class="col-md-6 col-sm-6 col-lg-6">
                        <div class = 'abstractsummary'>@Html(space.description.replace("\n","<br>"))</div>
                        <div>@space.created.format("MMM dd, yyyy")</div>
                        <div>
                            <span class="glyphicon glyphicon-briefcase" title="@space.datasetCount datasets"></span> @space.datasetCount
                            <span class="glyphicon glyphicon-th-large" title="@space.collectionCount collections"></span> @space.collectionCount
                            <span class="glyphicon glyphicon-user" title="@space.userCount users"></span> @space.userCount
                            @if(user.isDefined) {

                                    <!-- If user can delete, the button is enabled, otherwise the button is present but disabled to provide consistent UE. -->
<!--                                     @if(Permission.checkPermission(Permission.DeleteSpace, ResourceRef(ResourceRef.space, space.id)) || user.get.identityId.userId.equals(space.creator)){
                                        <button onclick="confirmDeleteResource('space','@Messages("space.title")','@(space.id)','@(space.name.replace("'","&#39;"))',false, '@redirect')" class="btn btn-link" title="Delete the @Messages("space.title") but not its contents">
                                            <span class="glyphicon glyphicon-trash"></span>
                                        </button>
                                    } else {
                                        <div class="inline" title="Not enough permission to delete the @Messages("space.title")">
                                            <button disabled class="btn btn-link"><span class="glyphicon glyphicon-trash"></span></button>
                                        </div>
                                    }
 -->
                            }
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-lg-3">
                        <ul class="list-unstyled">
                            <li><a href="@(routes.Collections.list("", "", 12, Some(space.id.stringify)))" class="btn btn-link">
                                <span class="glyphicon glyphicon-hand-right"></span>
                                Collections in @Messages("space.title")
                            </a></li>
                            <li><a href="@(routes.Datasets.list("", "", 12, Some(space.id.stringify)))" class="btn btn-link">
                                <span class="glyphicon glyphicon-hand-right"></span>
                                Datasets in @Messages("space.title")
                            </a></li>
                            <li>
                            @if(user.isDefined) {
                                    <!-- Fix for CATS-163 An exception is thrown if user is not defined -->
                                @if(user.isEmpty || !space.followers.contains(user.get.id)) {
<!--                                     <button id="followButton" class="btn btn-link" objectId="@space.id" objectName="@space.name" objectType="space">
                                        <span class='glyphicon glyphicon-star'></span>
                                        Follow
                                    </button>
 -->                                } else {
<!--                                     <button id="followButton" class="btn btn-link" objectId="@space.id" objectName="@space.name" objectType="space">
                                        <span class='glyphicon glyphicon-star-empty'></span>
                                        Unfollow
                                    </button>
 -->                                }

                                <script src="@routes.Assets.at("javascripts/recommendation.js")" type="text/javascript"></script>
                                <script type="text/javascript" language="javascript">
                                                            $(document).ready(function() {
                                                                $(document).on('click', '.followButton', function() {
                                                                    var id = $(this).attr('objectId');
                                                                    var name = $(this).attr('objectName');
                                                                    var type = $(this).attr('objectType');
                                                                    followHandler.call(this, jsRoutes, id, name, type, undefined, undefined);
                                                                });
                                                            });
                                                        </script>
                            }
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-sm-6 col-lg-3">
<!--                         <ul class="list-unstyled">
                            @if(Permission.checkPermission(Permission.EditSpace, ResourceRef(ResourceRef.space, space.id))) {
                                <li><a href="@routes.Spaces.manageUsers(space.id)" class="btn btn-link">
                                    <span class = "glyphicon glyphicon-user" aria-hidden="true"></span> Manage Users
                                </a></li>
                                <li><a href="@routes.Spaces.updateSpace(space.id)" class="btn btn-link">
                                    <span class = "glyphicon glyphicon-edit" aria-hidden="true"></span> Edit @Messages("space.title")
                                </a></li>
                                <li><a href="@routes.Spaces.selectExtractors(space.id)" class="btn btn-link">
                                    <span class = "glyphicon glyphicon-edit" aria-hidden="true"></span> Extractors
                                </a></li>
                            }
                            @if(play.api.Play.current.plugin[services.StagingAreaPlugin].isDefined && Permission.checkPermission(Permission.EditStagingArea, ResourceRef(ResourceRef.space, space.id))) {
                                <li><a class = "btn btn-link" href="@routes.Spaces.stagingArea(space.id)" title="Staging Area"><span class="glyphicon glyphicon-briefcase"></span> Staging Area</a></li>
                            }
                        </ul>
 -->
                    </div>

                </div>


            </div>
        </div>
    </div>
</div>
