@(space: ProjectSpace)(implicit user: Option[models.User])
@import api.Permission
@import play.api.i18n.Messages
<div class="row ds-section-sm space-col-right">
    <ul class="list-unstyled">
        @if(Permission.checkPermission(Permission.EditSpace, ResourceRef(ResourceRef.space, space.id))) {
<!--             <li><a href="@routes.Spaces.manageUsers(space.id)" class="btn btn-link btn-xs btn-margins">
                <span class = "glyphicon glyphicon-user" aria-hidden="true"></span> Manage Users
            </a></li>
            <li><a href="@routes.Spaces.updateSpace(space.id)" class="btn btn-link btn-xs btn-margins">
                <span class = "glyphicon glyphicon-edit" aria-hidden="true"></span> Edit @Messages("space.title")
            </a></li>
 --><!--             <li><a href="@routes.Metadata.getMetadataBySpace(space.id)" class="btn btn-link btn-xs btn-margins">
                <span class = "glyphicon glyphicon-list" aria-hidden="true"></span> Manage Metadata Terms & Definitions
            </a></li>
            <li><a href="@routes.Spaces.selectExtractors(space.id)" class="btn btn-link btn-xs btn-margins">
                <span class = "glyphicon glyphicon-fullscreen" aria-hidden="true"></span> Extractors
            </a></li>
 -->      
   } else {
<!--             <li><a class="btn btn-link btn-xs disabled btn-margins">
                <span class = "glyphicon glyphicon-user" aria-hidden="true"></span> Manage Users
            </a></li>
            <li><a class="btn btn-link btn-xs disabled btn-margins">
                <span class = "glyphicon glyphicon-edit" aria-hidden="true"></span> Edit @Messages("space.title")
            </a></li>
 --><!--             <li><a class="btn btn-link btn-xs disabled btn-margins">
                <span class = "glyphicon glyphicon-list" aria-hidden="true"></span> Manage Metadata Terms & Definitions
            </a></li>
            <li><a class="btn btn-link btn-xs disabled btn-margins">
                <span class = "glyphicon glyphicon-fullscreen" aria-hidden="true"></span> Extractors
            </a></li>
 -->        }
        @if(play.api.Play.current.plugin[services.StagingAreaPlugin].isDefined && Permission.checkPermission(Permission.EditStagingArea, ResourceRef(ResourceRef.space, space.id))) {
<!--             <li><a class = "btn btn-xs btn-link btn-margins" href="@routes.Spaces.stagingArea(space.id)" title="Staging Area"><span class="glyphicon glyphicon-book"></span> Staging Area</a></li>
 -->        }
    </ul>
</div>
