@(resourceId: UUID, resourceType: Symbol, resourceSpaces_canRemove : Map[ProjectSpace,Boolean], currentCollection: Option[Collection])(implicit user: Option[models.User])
@import api.Permission
@import play.api.libs.json.Json
@import play.api.Play.current
@import play.api.i18n.Messages
    <div class="row">
        <div class="col-md-12">
        @if(resourceType == ResourceRef.collection) {
            @if(play.api.Play.current.plugin[services.SpaceSharingPlugin].isDefined) {
                <h4> @Messages("a.contains.b", Messages("space.title"), Messages("collection.title"))</h4>
            } else {
                <h4>@Messages("a.contains.b", Messages("spaces.title"), Messages("collection.title"))</h4>
            }

        } else {
            @if(play.api.Play.current.plugin[services.SpaceSharingPlugin].isDefined) {
                <h4>@Messages("a.contains.b", Messages("space.title"), Messages("dataset.title"))</h4>
            } else {
                <h4>@Messages("a.contains.b", Messages("spaces.title"), Messages("dataset.title"))</h4>
            }
        }
        </div>
    </div>

    <div class="row bottom-padding hideTree">
        <div id="spacesList" class="col-md-12">
        @resourceSpaces_canRemove.map {case (s, v) =>
            <div id="col_@s.id" class="row bottom-padding">
                <div class="col-md-2">
                    @if(s.logoURL.isDefined) {
                        <img src="@s.logoURL.get" class="smallthumbnail">
                    } else {
                        <a href="@routes.Spaces.getSpace(s.id)">
                            <span class="smallicon glyphicon glyphicon-hdd"></span>
                        </a>
                    }
                </div>
                <div class="col-md-10">
                    <div>
                        <a href="@routes.Spaces.getSpace(s.id)" id='@s.id' class ="space">@s.name</a>
                    </div>
                    <div>
                        @if(resourceType == ResourceRef.dataset) {
                            @if(s.datasetCount ==1){
                                1 dataset
                            } else {
                                @s.datasetCount datasets
                            }
                                @if(Permission.checkOwner(user, ResourceRef(ResourceRef.dataset, resourceId)) || Permission.checkPermission(Permission.RemoveResourceFromSpace, ResourceRef(ResourceRef.space, s.id))) {
                                    | <button onclick="confirmRemoveResourceFromResourceEvent('space','@Messages("space.title")','@(s.id)','dataset','@(resourceId)',event)" class="btn btn-link btn-xs" title="Remove the dataset from the @Messages("space.title")">
                                        <span class="glyphicon glyphicon-remove"></span> Remove</button>
                                } else {
                                    |
                                    <div class="inline" title="No permission to remove from the @Messages("space.title")">
                                        <button class="btn btn-link btn-xs disabled"><span class="glyphicon glyphicon-remove"></span> Remove</button>
                                    </div>
                                }

                        }
                        @if(resourceType == ResourceRef.collection) {
                            @if(s.collectionCount == 1){
                                1 collection
                            } else {
                                @s.collectionCount collections
                            }
                            @**
                                a collection can be removed from a space as long as it is the highest level collection in that space;
                                meaning it has no parent in the space.
                            **@
                            @if(v == true){

                                    @if(Permission.checkOwner(user, ResourceRef(ResourceRef.collection, resourceId)) || Permission.checkPermission(Permission.RemoveResourceFromSpace, ResourceRef(ResourceRef.space, s.id))) {
                                        | <button onclick="confirmRemoveResourceFromResourceEvent('space','@Messages("space.title")','@(s.id)','collection','@(resourceId)',event)" class="btn btn-link btn-xs" title="Remove the collection from the @Messages("space.title")">
                                            <span class="glyphicon glyphicon-remove"></span> Remove</button>
                                    } else {
                                        |
                                        <div class="inline" title="No permission to remove from the @Messages("space.title")">
                                            <button class="btn btn-link btn-xs disabled"><span class="glyphicon glyphicon-remove"></span> Remove</button>
                                        </div>
                                    }

                            } else {
                                |
                                <div class="inline" title="Child collection, only the parent can be removed">
                                    <button class="btn btn-link btn-xs disabled"><span class="glyphicon glyphicon-remove"></span>
                                        Remove</button>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        }
        </div>
    </div>

    <!-- If the user can edit the dataset, the elements are enabled, otherwise they are present but disabled to provide consistent UE. -->
    @if(Permission.checkOwner(user, ResourceRef(resourceType, resourceId))) {

        @if(resourceType == ResourceRef.collection) {
            @spaces.spaceSelect(resourceId, resourceType, "spaceAddSelect", "addCollectionToSpace('" + resourceId + "')", "Add", "Add collection to " + Messages("space.title"), "add-to-space-widget")
        } else {
            @spaces.spaceSelect(resourceId, resourceType, "spaceAddSelect", "addDatasetToSpace('" + resourceId + "')", "Add", "Add dataset to " + Messages("space.title"), "add-to-space-widget")
        }
    }
    @if(Permission.checkPermission(user, Permission.DownloadFiles, ResourceRef(resourceType, resourceId)) &&
        Permission.checkPermission(user, Permission.ViewDataset, ResourceRef(resourceType, resourceId))) {
        @if(current.plugin[services.SpaceCopyPlugin].isDefined) {
            @if(resourceType == ResourceRef.dataset) {
                <h4 class="bottom-padding">Copy Dataset to @Messages("spaces.title")</h4>
                @spaces.spaceSelect(resourceId, resourceType, "spaceCopySelect", "copyDatasetToSpace('" + resourceId + "')", "Copy", "Copy dataset to " + Messages("space.title"), "copy-to-space-widget")
            } @* else {
              <h4>Copy Collection to Space</h4>
              @spaces.spaceSelect(resourceId, resourceType, "spaceCopySelect", "copyCollectionToSpace('"+resourceId+"')", "Copy", "Copy collection to Space", "copy-to-space-widget")

              }*@
        }

    }



<link rel="stylesheet" href="@routes.Assets.at("stylesheets/chosen.css")">
<script src="@routes.Assets.at("javascripts/chosen.jquery.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/spaceModify.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/deleteUtils.js")" type="text/javascript"></script>


<script language = "javascript">
    var isSharingEnabled= @play.api.Play.current.plugin[services.SpaceSharingPlugin].isDefined;
    @if(!play.api.Play.current.plugin[services.SpaceSharingPlugin].isDefined && resourceSpaces_canRemove.size > 0 ) {
    $("#add-to-space-widget").addClass("hidden");
    }
    function getCollection(id) {
        var request = jsRoutes.api.Collections.getCollection(id).ajax({
            type: 'GET'
        });

        request.done(function (response, textStatus, jqXHR) {
            var o =$.parseJSON(jqXHR.responseText);
            return o
        });

        request.fail(function (jqXHR, textStatus, errorThrown){
            console.error("The following error occured: " + textStatus, errorThrown);
            var errMsg = "Error message.";
            if (!checkErrorAndRedirect(jqXHR, errMsg)) {
                notify("Error : " + errorThrown, "error");
            }
        });
        return false;
    }

</script>
