@(providerId: String, loginForm: Option[Form[(String, String)]] = None)(implicit request: RequestHeader)

@import securesocial.core.Registry
@import securesocial.core.IdentityProvider
@import securesocial.core.providers.UsernamePasswordProvider
@import securesocial.core.AuthenticationMethod._
@import securesocial.core.providers.utils.RoutesHelper
@import play.api.Logger
@import helper._
@implicitFieldConstructor = @{ FieldConstructor(securesocial.views.html.inputFieldConstructor.f) }

@Registry.providers.get(providerId).map { provider =>
            @if( provider.authMethod == OAuth1 || provider.authMethod == OAuth2 ) {
                @defining( "securesocial/images/providers/%s.png".format(provider.id) ) { imageUrl =>
                    <a href="@provider.authenticationUrl"> <img src="@RoutesHelper.at(imageUrl)"/></a>
                }
            }

            @if( provider.authMethod == services.CrowdProvider.authMethod ) {
                @defining( "securesocial/images/providers/%s.png".format(provider.id) ) { imageUrl =>
                    <a href="@provider.authenticationUrl"> <img src="@RoutesHelper.at(imageUrl)"/></a>
                }
            }

            @if( provider.authMethod == services.LdapProvider.authMethod ) {
                @defining( "securesocial/images/providers/%s.png".format(provider.id) ) { imageUrl =>
                    <a href="@provider.authenticationUrl"> <img src="@RoutesHelper.at(imageUrl)"/></a>
                }
            }

            @if( provider.authMethod == UserPassword ) {
                <form action = "@securesocial.core.providers.utils.RoutesHelper.authenticateByPost("userpass").absoluteURL(IdentityProvider.sslEnabled)"
                      class="form-horizontal" autocomplete="off" method="POST">
                    <fieldset>                                                    
                        @if( UsernamePasswordProvider.withUserNameSupport ) {
                            @helper.inputText(
                                loginForm.get("username"),
                                '_label -> Messages("securesocial.signup.username"),
                                'class -> "form-control",
                                'autofocus -> "autofocus",
                                '_help -> "",
                                '_showErrors -> true
                            )
                        } else {                                                   
                            @helper.inputText(
                                loginForm.get("username"),
                                '_label -> Messages("securesocial.signup.email1"),
                                'class -> "form-control",
                                'autofocus -> "autofocus",
                                '_help -> "",
                                '_showErrors -> true
                            )                                                   
                        }

                        @helper.inputPassword(
                            loginForm.get("password"),
                            '_label -> Messages("securesocial.signup.password1"),
                            'class -> "form-control",
                            '_help -> "",
                            '_showErrors -> true
                        )

                        <div class="form-actions">
                            <button type="submit" class="btn btn-primary btn-margins"><span class="glyphicon glyphicon-log-in"></span> @Messages("securesocial.login.button")</button>
                        </div>
                        <div class="clearfix">
                            <a href="@securesocial.core.providers.utils.RoutesHelper.startResetPassword()"><h5>@Messages("Forgot password?") </a></h5>
                        </div>
                        <div><hr></div>
                        <div class="clearfix">
                            <div class="h4 text-center login-nav-box">@Messages("Don't have an account?")&nbsp;<a href="@securesocial.core.providers.utils.RoutesHelper.startSignUp()">@Messages("Sign up.")</a></div>
                        </div>
                    </fieldset>
                </form>
            }
}.getOrElse {
    @*****************************************
     * Todo: throw a runtime exception? this might need improvement
     *****************************************@
    @Logger.error("[securesocial] unknown provider '%s'. Can't render it.".format(providerId))
    { throw new RuntimeException("Unknown provider '%s') }
}
