@(query: String, firsttime: Boolean, files: Array[models.File], mapdatasetIds:scala.collection.mutable.HashMap[String,scala.collection.mutable.ListBuffer[(String, String)]])
@()
@import helper._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }



@main("Clowder") {

<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/dragdrop.css")">

<div class="page-header">
    <h1>Reserve data analysis session</h1>
  </div>


<div class="row">
        <div class="col-md-12">

			@form(action = routes.Search.searchbyURL(""), 'enctype -> "multipart/form-data", 'class -> "form-horizontal") {
			<fieldset>
				<br>
				<label><h4>Session Name</h4></label>
				<input type="text" placeholder="Session Name" name="session">
				<br>
				<label><h4>Duration</h4></label>
				<input type="text" placeholder="Number of hours" name="hours"> hours
				<input type="text" placeholder="Number of hours" name="hours"> hours padding-left:5em
				<input type="text" placeholder="Number of minutes" name="minutes"> minutes
				<br>
				<label><h4>Comma separated Dataset Names (Optional) </h4></label>
				<input type="text" placeholder="Paste your URL here" name="query">
			</fieldset>
			<br>
			<br>
			<div style="text-align: center;">
				<button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span> Search</button>
			</div>

			}
	</div>      
</div>


}
