@(dataset: models.Dataset,
  comments: List[Comment],
  previewers : List[Previewer],
  m: List[models.Metadata],
  collectionsInside: List[models.Collection],
  rdfExported: Boolean,
  relatedSensors: List[(String,String,String)],
  datasetSpaces_canRemove : Option[Map[ProjectSpace,Boolean]],
  fileList: List[File],
  filesTags: scala.collection.immutable.TreeSet[String],
  toPublish: Boolean,
  curationObjects: List[models.CurationObject],
  currentSpace: Option[String],
  limit: Int,
  showDownload: Boolean,
  accessData: models.DatasetAccess,
  canAddDatasetToCollection: Boolean,
  stagingAreaDefined: Boolean)(implicit flash: play.api.mvc.Flash, user: Option[models.User], request: RequestHeader)

@import api.Permission
@import play.api.Play.current
@import _root_.util.Formatters._

@main(dataset.name) {

    <script src="@routes.Assets.at("javascripts/htmlEncodeDecode.js")" language="javascript"></script>
    <script type="text/javascript">
        var spaceId = "@currentSpace";
        var descLabel = "@Messages("dataset.description")";
    </script>
    <style>
 /*           .nav>li>a {
                display: block;
            }*/
            .nav-tabs>li>a {
                display: block;
            }
    </style>
    <div class="row treePadding">
        <!-- left column -->
        <div class="col-md-8">
            <div class="row">
                <ol class="breadcrumb">

                @datasetSpaces_canRemove match {
                    case Some(spaces_map) => {
                        @if(spaces_map.size == 1) {
                                   <li> <span class="glyphicon glyphicon-hdd"></span> <a href="@routes.Spaces.getSpace(spaces_map.head._1.id)" title="@spaces_map.head._1.name"> @Html(ellipsize(spaces_map.head._1.name, 18))</a></li>
                        } else  {
                            @if(spaces_map.size > 1) {
                                <li>
                                <span class="dropdown">
                                    <button class="btn-link dropdown-toggle" type="button" id="dropdown_space_list" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="true">
                                        <span class="glyphicon glyphicon-hdd"></span> <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" arialanelledby="dropdown_space_list">
                                        @spaces_map.map { case (s,v) =>
                                            <li><a href="@routes.Spaces.getSpace(s.id)" title="@s.name"><span class="glyphicon glyphicon-hdd"></span> @Html(ellipsize(s.name, 18))</a></li>
                                        }
                                    </ul>
                                </span>
                                </li>
                            } else {
                                <li><span class="glyphicon glyphicon-user"></span> <a href= "@routes.Profile.viewProfileUUID(dataset.author.id)"> @dataset.author.fullName </a></li>
                            }
                        }

                    }
                    case None => {}
                }

                        <li><span class="glyphicon glyphicon-briefcase"></span> <span title="@dataset.name"> @Html(ellipsize(dataset.name, 18))</span></li>

                </ol>

                <div class="col-md-12 caption break-word dataset-title" id="ds-title">
                    <h1 id="datasettitle" class="inline"> <span class="glyphicon glyphicon-briefcase" ></span> @Html(dataset.name)</h1>
                    @if(Permission.checkPermission(Permission.EditDataset, ResourceRef(ResourceRef.dataset, dataset.id)) && !dataset.trash) {
                        <h3 id="h-edit-title" class="hiddencomplete">
                            <a id ="edit-title" href = "javascript:updateTitle()" title="Click to edit title">
                            <span class ="glyphicon glyphicon-edit" aria-hidden ="true"></span>
                            </a>
                        </h3>
                    }

                </div>
                <div class="col-md-6 hideTree">
                    <ul class="list-unstyled">
                        <li>Created by <a href= "@routes.Profile.viewProfileUUID(dataset.author.id)"> @dataset.author.fullName </a></li>
                        <li>Created on @dataset.created.format("MMM dd, yyyy")</li>
                        @if(accessData.showAccess) {
                            @if(Permission.checkPermission(Permission.PublicDataset, ResourceRef(ResourceRef.dataset, dataset.id))) {
                                <li id="access">Access:
                                    <label class="radio-inline"><input type="radio" name="access" id="access-DEFAULT" value="@DatasetStatus.DEFAULT.toString">@accessData.accessOptions(0)</label>
                                    <label class="radio-inline"><input type="radio" name="access" id="access-PRIVATE" value="@DatasetStatus.PRIVATE.toString">@accessData.accessOptions(1)</label>
                                    <label class="radio-inline"><input type="radio" name="access" id="access-PUBLIC" value="@DatasetStatus.PUBLIC.toString">@accessData.accessOptions(2)</label>
                                </li>

                            } else {
                                <li>Access: @accessData.access</li>
                            }
                        }

                    </ul>
                </div>
                <div class="col-md-6 hideTree">
                    <ul class="list-unstyled">
                        <div id="edit-license">
                            <li class="inline"><span id="licensetextdata">blank</span> <span id="rightsholderdata">blank</span></li>
                            @if(Permission.checkPermission(Permission.EditLicense, ResourceRef(ResourceRef.dataset, dataset.id))) {

                                <a class="edit-tab hiddencomplete" data-toggle="collapse"
                                data-parent="#accordion6" href="#collapseSix" id="editlicense"
                                title=" Click to Edit License Information">
                                    <span class="glyphicon glyphicon-edit"></span>
                                </a>

                            }
                        </div>
                        @datasets.editLicense(dataset)
                    </ul>
                </div>
                <div class="col-md-12 box-white-space" id="aboutdesc" style="padding-top: 0px;">
                    <p id ="ds_description" class="inline">@if(dataset.description.length > 0) { @Html(dataset.description) } else {Add a description}</p>
                    @if(Permission.checkPermission(Permission.EditDataset, ResourceRef(ResourceRef.dataset, dataset.id))) {
                        <a id="edit-description" class="hiddencomplete" href="javascript:updateDescription()" title="Click to edit description">
                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                        </a>
                    }
                </div>
                    <!-- Added support for mobile view -->
                <div class="col-xs-12 hidden-lg">
                    <hr/>
                    @if(Permission.checkPermission(Permission.AddResourceToDataset, ResourceRef(ResourceRef.dataset, dataset.id))) {
                        <a id="addFilesLink" href="@(routes.Datasets.addFiles(dataset.id))"
                        class="btn btn-default fileinput-button" id="fileUploadBtn" title="Add File to Dataset" role="button">
                            <span class="glyphicon glyphicon-plus"></span> Add Files
                        </a><p>
                    }
                </div>
                <div class="col-xs-12 visible-lg">
                    <hr/>
                        <!-- If the user can add files to the dataset, the button is enabled, otherwise the button is present but disabled to provide consistent UE. -->
                    @if(Permission.checkPermission(Permission.AddResourceToDataset, ResourceRef(ResourceRef.dataset, dataset.id))) {
                        <a id="addFilesLink" href="@(routes.Datasets.addFiles(dataset.id))"
                        class="btn btn-link" id="fileUploadBtn" title="Add File to Dataset" role="button">
                            <span class="glyphicon glyphicon-plus"></span> Add Files
                        </a>
                    }
                    @if(showDownload && Permission.checkPermission(Permission.DownloadFiles, ResourceRef(ResourceRef.dataset, dataset.id))) {
                        <a id='download-url' href="#"
                        onclick="window.open(jsRoutes.api.Datasets.download('@dataset.id').url, '_blank');"
                        class="btn btn-link" title="Download All Files as Zip" role="button">
                            <span class="glyphicon glyphicon-download-alt"></span>
                            Download All Files
                        </a>
                    } else {
                        <a id='download-url' href="#" disabled
                        class="btn btn-link disabled" title="There are no files in this dataset or you don't have permission to Download it" role="button">
                            <span class="glyphicon glyphicon-download-alt"></span>
                            Download All Files
                        </a>
                    }

                    @if(dataset.trash){
                        @datasets.restoreButton(dataset)
                    }

                    @datasets.deleteButton(dataset)

                    @**
                    @datasets.follow(dataset)**@
                    @if(user.isDefined) {
                        @datasets.userLink(dataset)
                    }
                    @if(user.isDefined && play.api.Play.current.plugin[services.StagingAreaPlugin].isDefined) {
                        @if(toPublish && currentSpace.isDefined && Permission.checkPermission(Permission.EditStagingArea, ResourceRef(ResourceRef.space, UUID(currentSpace.getOrElse(""))))) {
                            <a href="@(routes.CurationObjects.newCO(dataset.id, currentSpace.get))" class="btn btn-link">
                                <span class="glyphicon glyphicon-globe"></span> Publish
                            </a>
                        } else {
                            @if(toPublish && dataset.spaces.size > 0) {
                                <a href="@(routes.CurationObjects.newCO(dataset.id, ""))" class="btn btn-link">
                                    <span class="glyphicon glyphicon-globe"></span> Publish
                                </a>
                            } else {
                                <button class="btn btn-link" disabled>
                                    <span class="glyphicon glyphicon-globe"></span> Publish
                                </button>
                            }
                        }
                    }
                    @if(Permission.checkPermission(Permission.AddResourceToDataset, ResourceRef(ResourceRef.dataset, dataset.id))) {
                        @**
                        <a data-toggle="modal" data-target="#folder-modal" class="btn btn-link">
                        <span class="glyphicon glyphicon-ok"></span>  @Messages("create.title", "Folder")
                        </a>
                        <div class="modal fade" id="folder-modal" tabindex="-1" role ="dialog" aria-labelledby="folder-modal-label">
                        <div class="modal-dialog" role="document">
                        <div class="modal-content">
                        <div class="modal-header">
                        <h4 class="modal-title" id="folder-modal-label">  @Messages("create.header", "Folder")</h4>
                        </div>
                        <div class="modal-body">
                        <div class="form-group">
                        <label id="namelabel" for="name">Name</label>
                        <input type="text" class="form-control" id="name" placeholder="A short name">
                        <span class="error hiddencomplete" id="nameerror">The name is a required field</span>
                        </div>
                        </div>
                        <div class="modal-footer">
                        <button type="submit" class="btn btn-success start"  id="createFolder" title="Create the folder">
                        <span class="glyphicon glyphicon-ok"></span>  @Messages("create.title", "Folder")
                        </button>
                        <button class="btn btn-default" title="Cancel creation of folder" data-dismiss="modal" onclick="$('.error').hide();">
                        <span class="glyphicon glyphicon-remove"></span> Cancel
                        </button>
                        </div>
                        </div>
                        </div>
                        </div>
                        **@
                    }
                    <hr/>
                </div>
            </div>



            <div class="tabbable" id="bottomDatasetTabbable"> <!-- Only required for left/right tabs -->
                <ul class="nav nav-tabs margin-bottom-20" >
                    <li role="presentation" id="tab-files1"><a href="#tab-files" role="tab" data-toggle="tab">Files </a></li>
                    <li role="presentation" id="tab-metadata1"><a href="#tab-metadata" role="tab" data-toggle="tab">Metadata </a></li>
                    @**
                    <li role="presentation"><a href="#tab-visua" role="tab" data-toggle="tab">Visualizations</a></li>
                    **@
                    <li role="presentation"><a href="#tab-comments" role="tab" data-toggle="tab">Comments (@comments.size)</a></li>
                </ul>
                <div class="tab-content">

                    <div role="tabpanel" class="tab-pane" id="tab-files"></div>
                    <div role="tabpanel" class="tab-pane" id="tab-comments">
                            <!-- If the user can add comments, the form will be present, otherwise the form is not available at all. -->
                        @if(Permission.checkPermission(Permission.AddComment, ResourceRef(ResourceRef.dataset, dataset.id))) {
                            @commentform(dataset.id.stringify, "dataset", dataset.name)
                        }
                        <div class="list-unstyled" id="reply_@dataset.id.toString"> @comment(comments)</div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="tab-metadata">
                        @if(user.isDefined) {
                            @**
                            <div class="row">
                            <div class="col-md-12">
                            @metadatald.addMetadata("dataset", dataset.id.toString, "metadata-content")
                            </div>
                            </div>
                            **@
                        }
                        <div class="row">
                             <div class="col-md-12" id="metadata-content">

                            <a  href="#" class="btn btn-success btn-large" data-toggle="modal" data-target="#metadataModal" id="editMetaData" title="Dataset metadata">
                                <span class="glyphicon glyphicon-plus"></span>Edit Metadata Template
                            </a>
                            <hr />
                            <div class="templateDataReadOnly">
                           </div>
                           <hr />

                        </div>
                         <div class="col-md-12" id="metadata-content">
                        @metadatald.view(m, true)
                        </div>
                        </div>
                        @if(Permission.checkPermission(Permission.EditDataset, ResourceRef(ResourceRef.dataset, dataset.id))
                                && play.api.Play.current.plugin[services.RabbitmqPlugin].isDefined) {
                            <div class="row bottom-padding hideTree">
                                <div class="col-md-12">
                                    <h4>Extractions</h4>
                                    <a href="@routes.Extractors.submitDatasetExtraction(dataset.id)" class="btn btn-link" >
                                        <span class="glyphicon glyphicon glyphicon-send" aria-hidden="true"></span> Submit dataset for extraction
                                    </a>
                                </div>
                            </div>
                        }
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="tab-visua">
                    @datasets.previews(dataset, previewers)
                    </div>
                </div>
            </div>
        </div>

            <!-- right column -->
        <div class="col-md-4 hideTree">
            @spaces.spaceAllocation(dataset.id, ResourceRef.dataset,datasetSpaces_canRemove.getOrElse(Map.empty),None)
            @datasets.collections(dataset, collectionsInside, true)
            @datasets.tags(dataset, fileList, filesTags)
            @if(play.api.Play.current.plugin[services.StagingAreaPlugin].isDefined) {
                @datasets.listCurationObjects(curationObjects)
            }
            @if(current.plugin[services.PostgresPlugin].isDefined) {
                @sensors.relatedSensors(relatedSensors, "Dataset", dataset.id.stringify)
            }
            <div id="toolListContainer"></div>
        </div>
    </div>

    @* FIXME Commented out since it creates some issues with dataset previewers *@
    @*<script src="@routes.Assets.at("javascripts/tabsInURL.js")" type="text/javascript"></script>*@

    <script src="@routes.Assets.at("javascripts/errorRedirect.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/updateLicenseInfo.js")" language="javascript"></script>
    <script src="@routes.Assets.at("javascripts/datasetListProcess.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/folderListProcess.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/fileListProcess.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/follow-button.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/deleteUtils.js")" type="text/javascript"></script>
    <script type="text/javascript">
            var removeIndicator = false;
            var parentId = "@dataset.id";
            var parentType = "dataset";
            var pageIndex = 0;
            var folderId;
            var cur_title;

            function updateTitle() {
                cur_title = $('#datasettitle').text().trim();
                $('<span class="inline edit_title_div"> </span>').insertAfter($('#datasettitle'));
                $('.edit_title_div').append('<input type="text" id = "title_input" class="form-control" required/>');
                $('.edit_title_div').append('<div class="hiddencomplete" aria-hidden="true" id="title-error"> <span class="error"> Title is required </span> </div>');
                $('.edit_title_div').append('<button id="update_title" class= "btn btn-sm btn-success btn-margins" onclick="saveTitle()"> <span class="glyphicon glyphicon-send"></span> Save </button>');
                $('.edit_title_div').append('<button id="cancel_title" onclick="cancelTitle()" class="btn btn-sm edit-tab btn-danger btn-margins"> <span class="glyphicon glyphicon-remove"></span>Cancel </button>');
                $('#title_input').val(cur_title);
                $('#datasettitle').text("");
                $('#ds-title').removeClass("dataset-title");
                $('#h-edit-title').addClass("hiddencomplete");
                $('#h-edit-title').css("display", "none");
            }
            function parseHash() {
                var hash = location.hash.split('#')[1];
                var folderSet = false;
                var pageSet = false;
                if(hash != undefined) {
                    var values = hash.split('&');
                    for (var i = 0; i < values.length; i++){
                        var temp = values[i].split('=');
                        if(temp[0] == 'folderId') {
                            folderId = temp[1];
                            folderSet = true
                        }
                        if(temp[0] == 'page'){
                            pageIndex = temp[1];
                            pageSet = true
                        }
                    }
                }
                if(!folderSet) {
                    folderId ='';
                }
                if(!pageSet) {
                    pageIndex = 0;
                }
            }
            $(document).ready(function(){


                get4ceedMetaDataReadOnly();

                $(document).on('click', '#addNewTemplate', function(e){


                    // console.log('adding a new template');
                    var request = jsRoutes.api.Datasets.createEmptyVocabularyForDataset("@dataset.id").ajax({
                        type: "POST"
                    });
                    request.done(function(response, textStatus, jqXHR){
                        // console.log('done')
                        location.reload();
                    });

                    request.fail(function(jqXHR, textStatus, errorThrown) {
                        console.error("The following error occurred: " + textStatus, errorThrown);
                        var errMsg = "Yoy must be logged in to update the information about a dataset.";
                        if(!checkErrorAndRedirect(jqXHR, errMsg)) {
                            notify("The dataset did not have template attached: "+ errorThrown, "error");
                        }
                    });

                });

                getUpdatedFilesAndFolders();

                if(@dataset.spaces.size < 1 ) {
                    $('#dataset-users').hide();
                }

                if(@Permission.checkPermission(Permission.EditDataset, ResourceRef(ResourceRef.dataset, dataset.id))) {
                    $(document).on('mouseenter', '#ds-title', function() {
                        $('#h-edit-title').removeClass("hiddencomplete");
                        $('#h-edit-title').addClass("inline");
                    }).on('mouseleave', '#ds-title', function() {
                        $('#h-edit-title').removeClass("inline");
                        $('#h-edit-title').addClass("hiddencomplete");
                    });

                    $(document).on('mouseenter', '#aboutdesc', function() {
                        $('#edit-description').removeClass("hiddencomplete");
                        $('#edit-description').addClass("inline");
                    }).on('mouseleave', '#aboutdesc', function() {
                        $('#edit-description').removeClass("inline");
                        $('#edit-description').addClass("hiddencomplete");
                    });
                }

                if(@Permission.checkPermission(Permission.EditLicense, ResourceRef(ResourceRef.dataset, dataset.id))) {
                    $(document).on('mouseenter', '#edit-license', function() {
                        $('#editlicense').removeClass("hiddencomplete");
                        $('#editlicense').addClass("inline");
                    }).on('mouseleave', '#edit-license', function() {
                        $('#editlicense').removeClass("inline");
                        $('#editlicense').addClass("hiddencomplete");
                    });
                }

                var description = $('#ds_description').html().trim();
                $('#ds_description').html(urlify(description));

                @play.api.Play.current.plugin[services.ToolManagerPlugin] match {
                    case Some(p) => {
                    @if(p.enabled && dataset.files.nonEmpty && Permission.checkPermission(Permission.ExecuteOnDataset, ResourceRef(ResourceRef.dataset, dataset.id))) {
                    refreshToolSidebar()
                    }
                    }
                    case None => { }

                }

                $("input[value='@dataset.status']").attr("checked", true);
                setOriginAccess();
            });

            function cancelTitle() {
                $('#datasettitle').text( cur_title);
                $('#datasettitle').prepend('<span class="glyphicon glyphicon-briefcase"></span> ');
                $('.edit_title_div').remove();
                $('#datasettitle').css("display", "inline");
                $('#h-edit-title').removeClass("inline");
                $('#h-edit-title').css("display", "");
                $('#ds-title').addClass("dataset-title");
                $('#ds-title').mouseleave();
            }

            function saveTitle() {
                if($('#title_input').val().length < 1) {
                    $('#title-error').show();
                    return false;
                }
                var name = $('#title_input').val();
                var encName = htmlEncode(name);
                jsonData = JSON.stringify({"name": encName});

                var request = jsRoutes.api.Datasets.updateName("@dataset.id").ajax({
                    data: jsonData,
                    type: 'PUT',
                    contentType: "application/json"
                });

                request.done(function(response, textStatus, jqXHR){
                    $('#datasettitle').text(encName.replace(/\n/g, "<br>"));
                    $('#datasettitle').prepend('<span class="glyphicon glyphicon-briefcase"></span> ');
                    $('.edit_title_div').remove();
                    $('#datasettitle').css("display", "inline");
                    $('#h-edit-title').removeClass("inline");
                    $('#h-edit-title').css("display", "");
                    $('#ds-title').addClass("dataset-title");
                    $('#ds-title').mouseleave();
                    notify("Dataset name updated successfully", "success", false, 2000 );
                });

                request.fail(function(jqXHR, textStatus, errorThrown) {
                    console.error("The following error occurred: " + textStatus, errorThrown);
                    var errMsg = "Yoy must be logged in to update the information about a dataset.";
                    if(!checkErrorAndRedirect(jqXHR, errMsg)) {
                        notify("The dataset information was not updated due to: "+ errorThrown, "error");
                    }
                });

            }
            var cur_description;
            function updateDescription() {
                cur_description = $('#ds_description').html().trim();
                $('<div class="edit_desc"> </div>').insertAfter($('#ds_description'));
                $('.edit_desc').append('<textarea id = "desc_input" class="form-control"/>');
                $('.edit_desc').append('<button id = "update_desc" class= "btn btn-sm btn-success btn-margins" onclick = "saveDescription()"> <span class="glyphicon glyphicon-send"> </span> Save </button>');
                $('.edit_desc').append('<button id="cancel_desc" class="btn btn-sm edit-tab btn-danger btn-margins" onclick="cancelDescription()"> <span class="glyphicon glyphicon-remove"></span> Cancel </button>');
                if(cur_description.indexOf("Add a description") != 0) {
                    $('#desc_input').val(htmlDecode(cur_description.replace(new RegExp("<br>", "g"), "\n")));
                }
                $('#ds_description').text("");
                $('#edit-description').css("display", "none");
                $('#edit-description').addClass("hiddencomplete");
            }

            function cancelDescription() {
                $('#ds_description').html(cur_description);
                $('.edit_desc').remove();
                $('#ds_description').css("display", "inline");
                $('#edit-description').removeClass("inline");
                $('#edit-description').css("display", "");
                $('#ds-description').mouseleave();
            }

            function saveDescription() {
                var description = $('#desc_input').val();
                var encDescription = htmlEncode(description);
                jsonData = JSON.stringify({"description": encDescription});

                var request = jsRoutes.api.Datasets.updateDescription("@dataset.id").ajax({
                    data: jsonData,
                    type: 'PUT',
                    contentType: "application/json"
                });

                request.done(function(response, textStatus,jqXHR) {
                    $('#ds_description').html(urlify(htmlEncode(description).replace(/\n/g, "<br>")));
                    $('.edit_desc').remove();
                    $('#ds_description').css("display", "inline");
                    $('#edit-description').removeClass("inline");
                    $('#edit-description').css("display", "");
                    $('#ds-description').mouseleave();
                    notify("Dataset description updated successfully", "success", false, 2000 );
                });

                request.fail(function(jqXHR, textStatus, errorThrown) {
                    console.error("The following error occurred: " + textStatus, errorThrown);
                    var errMsg = " You must be logged in to update the information about a dataset.";
                    if(!checkErrorAndRedirect(jqXHR, errMsg)) {
                        notify("The dataset information was not updated due to: " + errorThrown, "error");
                    }
                });

            }

            function urlify(text) {
                var urlRegex =/(\b(https?|ftp|file):\/\/[-A-Z0-9+&@@#\/%?=~_|!:,.;]*[-A-Z0-9+&@@#\/%=~_|])/ig;
                return text.replace(urlRegex, function(url) {
                    return '<a href="' + url + '">' + url + '</a>';
                })
            }

            function refreshToolSidebar() {
                // Get current status from ToolManagerPlugin and refresh sidebar table
                var request = new XMLHttpRequest();
                request.onreadystatechange = function() {
                    if (request.readyState == 4 && request.status == 200) {
                        $('#toolListContainer').html(request.response);
                    }
                }

                request.open("GET", jsRoutes.controllers.ToolManager.refreshToolSidebar("@dataset.id", "@dataset.name").url, true);
                request.send();
            }

            $(function() {
                $(window).on('fileDelete hashchange', function() {

                    getUpdatedFilesAndFolders();
                });

                $('#createFolder').click(function() {
                    var name=$('#name');

                    var error = false;
                    if(!name.val()) {
                        $('#nameerror').show();
                        error = true;
                    } else{
                        $('#nameerror').hide();
                    }
                    if(!error) {

                        var encName  = htmlEncode(name.val());
                        var jsonData = JSON.stringify({"name": encName, "parentId": parentId, "parentType": parentType, "currentSpace": "@currentSpace"});
                        var request = jsRoutes.controllers.Folders.createFolder("@dataset.id").ajax({
                            data:jsonData,
                            type: 'POST',
                            contentType: "application/json"
                        });
                        request.done(function(response, textStatus, jqXHR){
                            $('#folder-modal').modal('hide');
                            $('#folderListDiv').prepend(response);
                            notify("Folder created successfully", "success", false, 2000 );
                            $('#name').val("");
                        });

                        request.fail(function (jqXHR, textStatus, errorThrown){
                            $('#name').val("");
                            console.error("The following error occured: " + textStatus, errorThrown);
                            var errMsg = "You must be logged in to create a new folder.";
                            if (!checkErrorAndRedirect(jqXHR, errMsg)) {
                                notify("Error in creating folder: " + errorThrown, "error");
                            }
                        });

                    };
                    return false;
                });
            });

            function updatePageAndFolder(idx, folderIdd){
                if(folderIdd != "") {
                    location.hash = "folderId="+folderIdd+"&page="+idx;
                } else {
                    location.hash="page="+idx;
                }
                $(window).trigger("hashchange");
            }

            function getUpdatedFilesAndFolders() {
                parseHash();
                if(folderId == "") {
                    folderId = null;
                }
                var currentSpace = null;
                if(@currentSpace.isDefined){
                    currentSpace = "@currentSpace";
                }
                var jsonData = JSON.stringify({"currentSpace": currentSpace, "folderId": folderId});
                var request = jsRoutes.controllers.Datasets.getUpdatedFilesAndFolders("@dataset.id", @limit, pageIndex, "@currentSpace").ajax({
                    data: jsonData,
                    type: 'POST',
                    contentType: "application/json"
                });

                request.done(function(response, textStatus, jsXHR){
                    $('#tab-files').html("");
                    $('#tab-files').html(response);
                    if(folderId != null) {
                        parentType = 'folder';
                        parentId = folderId;
                        $('#addFilesLink').attr("href", jsRoutes.controllers.Folders.addFiles('@dataset.id', folderId).url);
                    } else {
                        parentId = "@dataset.id";
                        parentType = "dataset";
                        $('#addFilesLink').attr("href", jsRoutes.controllers.Datasets.addFiles('@dataset.id').url);
                    }
                });
                request.fail(function (jqXHR, textStatus, errorThrown){
                    console.error("The following error occurred: " + textStatus, errorThrown);
                    var errMsg = "You must be logged in to see files and folders.";
                    if (!checkErrorAndRedirect(jqXHR, errMsg)) {
                        notify("Error in getting more files and folders : " + errorThrown, "error");
                    }
                });

            }

            $('input[type=radio][name="access"]').change(function() {
                var name = '@dataset.name';
                var id = '@dataset.id';
                var access = $("input[name='access']:checked").val();
                if(access !== undefined){
                    var msg = "Are you sure you want to set " + name + " to " +access+"?";
                    var modalHTML = confirmTemplate(msg, id, access);
                    var confirmModal = $(modalHTML);
                    confirmModal.modal();
                    confirmModal.modal("show");
                }
            });

            function moveFile(fileId) {
                $('.modal').modal('hide');
                var newFolderId = $('#move_file_select').val();
                var datasetId = "@dataset.id";
                var jsonData = JSON.stringify({"folderId": folderId});
                var url;
                if(newFolderId == "root") {
                    url =jsRoutes.api.Folders.moveFileToDataset(datasetId, folderId, fileId)
                } else {
                    url =jsRoutes.api.Folders.moveFileBetweenFolders(datasetId, newFolderId, fileId)
                }
                var request = url.ajax({
                    data: jsonData,
                    type: 'POST',
                    contentType: "application/json"
                });
                request.done(function(response, textStatus, jsXHR){
                    if(newFolderId == "root") {
                        updatePageAndFolder(0, '');
                        notify("The file " + response.fileName + " has been succesfully moved to the dataset.", "success",  false, 2000);
                    } else {
                        updatePageAndFolder(0, newFolderId);
                        notify("The file " + response.fileName + " has been succesfully moved to folder: " + response.folderName, "success",  false, 2000);
                    }

                });
                request.fail(function(jqXHR, textStatus, errorThrown) {
                    notify("Error moving file " + errorThrown, "error")
                });

            };

            function showMoveModal(fileId) {

                var request = jsRoutes.api.Folders.getAllFoldersByDatasetId("@dataset.id").ajax({
                    type: "GET",
                    contentType: "application/json"
                });
                request.done(function(response, textStatus, jsXHR){
                    $('#move_file_select').remove();
                    var modalHtml = '<div class="modal fade" id="moveFileModal" tabindex="-1" role="dialog">';
                    modalHtml += '<div class="modal-dialog">';
                    modalHtml += '<div class="modal-content">';
                    modalHtml += '<div class="modal-header">';
                    modalHtml += '<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>';
                    modalHtml += '<h4 class="modal-title">Move File to Folder</h4>';
                    modalHtml += '</div>';
                    modalHtml += '<div class="modal-body">';
                    modalHtml += '<select id="move_file_select" class="form-control">';
                    if(folderId != null) {
                        modalHtml += '<option value="root">/</option>';
                    }
                    for (var i = 0; i < response.length; i ++) {
                        if(folderId != response[i].id) {
                            modalHtml +='<option value="'+response[i].id+'">'+ response[i].name + '</option>';
                        }
                    }

                    modalHtml += '</select>';
                    modalHtml += '</div>';
                    modalHtml += '<div class="modal-footer">';
                    modalHtml += '<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>';
                    modalHtml += '<a type="button" class="btn btn-success" id="moveFileButton" href="javascript:moveFile(\''+fileId+'\')"> <span class="glyphicon glyphicon-move"></span> Move</a>';
                    modalHtml += '</div>';
                    modalHtml += '</div>';
                    modalHtml += '</div>';
                    modalHtml += '</div>';
                    var moveBetweenFoldersModal = $(modalHtml);
                    moveBetweenFoldersModal.modal("show");
                });

                request.fail(function(jqXHR, textStatus, errorThrown){
                    notify("Error getting all folders in dataset" + errorThrown, "error");
                });

            }

            //Should we show a template for this dataset?
            function get4ceedMetaDataReadOnly() {
                var url = window.location.pathname;
                var id = url.substring(url.lastIndexOf('/') + 1);
                $.ajax({
                    url: jsRoutes.api.T2C2.getDatasetWithAttachedVocab(id).url,
                    type:"GET",
                    dataType: "json",
                    beforeSend: function(xhr){
                        xhr.setRequestHeader("Content-Type", "application/json");
                        xhr.setRequestHeader("Accept", "application/json");
                    },
                    success: function(data){
                        if (data.template.id === "none"){
                            // console.log(data.template.id);
                        }else{

                            createBoxesForPreviousDatasetReadOnly(data);
                        }
                    }
                })

            }

            function createBoxesForPreviousDatasetReadOnly(data){

                $.each(data.template.terms, function(i, val) {
                    // console.log(val.key);
                    var div3 = $("<div />");
                    div3.html(createDivReadOnly(val.key, val.default_value, val.units));
                    $(".templateDataReadOnly").append(div3);

                });
            }   
            
        //Create dynamic textbox
        function createDivReadOnly(keyName, val, units) {
            //console.log(keyName, val, units);
            var valKeyName = $.trim(keyName);
            var valStr = $.trim(val);
            var valUnits = $.trim(units);

            //format text
            var txtToWrite = "Value";

            var i = counter1.add();
            return '<div class="row top-buffer"><div class="col-xs-7"><b>' + "<label for='name'>Key: " + '</b></label>' +
                    '<input width="100%" readonly class="form-control" type="text" value=' + valKeyName.replace(/ /g,"&nbsp;") +'></div>' +

                    '<div class="col-xs-2" style="margin-left:-15px;"><b>' + "<label for='val'>"+ txtToWrite + '</b></label>' +
                    '<input readonly class="form-control" type="text" value=' + valStr.replace(/ /g,"&nbsp;") +'></div>' +

                    '<div class="col-xs-2"><b>' + "<label for='name'>Units: " + '</label></b>' +
                    '<input readonly class="form-control" type="text" value=' + valUnits.replace(/ /g,"&nbsp;") +'></div>' +

                    '<div class="col-xs-1" style="margin-left:-15px;"><b>' + "<label for='val'>&nbsp;" + '</label></b></div>'

        }

    </script>
}

