@(notebookList: List[models.Notebook])(implicit user: Option[models.User])

@main("Notebooks") {
<div class="page-header">
    <h1>List of Saved Notebooks</h1>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-hover">

            <thead>

            <tr>
                <th>Name</th>
                <th>Actions</th>

                <th>
            </tr>
            </thead>

            <tbody>
            @notebookList.map { notebook =>


            <tr>
                <!--
                <td>
                    @notebook.name

                    <a href="@controllers.routes.Notebook.viewNotebook(notebook.id)">View</a>
                    <a href="@controllers.routes.Notebook.editNotebook(notebook.id)">Edit</a>
                </td>
                -->

                <td><a href="@controllers.routes.Notebook.viewNotebook(notebook.id)">@notebook.name</a></td>
                <td>
                    <a href="@controllers.routes.Notebook.viewNotebook(notebook.id)">View</a> &nbsp;
                    <a href="@controllers.routes.Notebook.deleteNotebook(notebook.id)">Delete</a>
                </td>


            </tr>
            }
            </tbody>
        </table>
    </div>
</div>
}