@(errorString: String, spaceList: List[models.ProjectSpace], isNameRequired: Boolean, isDescriptionRequired: Boolean, spaceId: Option[String], spaceName: Option[String])(implicit flash: play.api.mvc.Flash, user: Option[models.User])
@import play.api.i18n.Messages
@import helper._
@import _root_.util.Formatters._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@main(Messages("create.title", Messages("collection.title"))) {

    <style>

    </style>

  <!-- Custom items for the create collection workflow -->
  <script src="@routes.Assets.at("javascripts/collection-create.js")" type="text/javascript"></script>
  <script src="@routes.Assets.at("javascripts/htmlEncodeDecode.js")" language="javascript"></script>
  <script type="text/javascript" language="javascript">
      //Global so that the javascript for the collection creation can reference this.
      var isNameRequired = @isNameRequired;
      var isDescRequired = @isDescriptionRequired;           
  </script>
    <script src="@routes.Assets.at("javascripts/chosen.jquery.js")" type="text/javascript"></script>
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/chosen.css")">
    <ol class="breadcrumb navigate-bread">

        @(spaceId, spaceName) match {
            case (Some(id), Some(name)) => {
                <li><span class="glyphicon glyphicon-hdd"></span> <a href="@routes.Spaces.getSpace(UUID(id))" title="@name"> @Html(ellipsize(name, 18))</a></li>

            }
            case (_, _) => {
                @user match {
                    case Some(u) => { <li><span class="glyphicon glyphicon-user"></span> <a href= "@routes.Profile.viewProfileUUID(u.id)"> @u.fullName </a> </li>}
                    case None => {}
                }
            }
        }
        <li> <span class="glyphicon glyphicon-th-large"></span> @Messages("create.header", Messages("collection.title"))</li>

    </ol>
  <div class="page-header">
    <h1>@Messages("create.header", Messages("collection.title"))</h1>
      <p>@Messages("collection.create.message", Messages("collections.title"), Messages("datasets.title").toLowerCase, Messages("collection.title").toLowerCase, Messages("space.title"))</p>

  </div>
  <div class="row">
    <div class="col-md-12">
      <span id="status" class="success hiddencomplete alert alert-success" role="alert">A Status Message</span>
      @if(errorString != null){
        <span class="error alert alert-danger" id="messageerror">@errorString</span>
      }else{
        <span class="error hiddencomplete alert alert-danger" id="messageerror">An Error Message</span>
      }
    </div>
    <!-- Basic required elements for creating a new collection. -->
    <div class="form-group">
            <label id="namelabel" for="name">Name</label>
            <input type="text" class="form-control" id="name" placeholder="A short name">
            <span class="error hiddencomplete" id="nameerror">The name is a required field</span>
        </div>
        <div class="form-group">
            <label id="desclabel" for="description">Description</label>
            <textarea cols=40 rows=4 type="text" id="description" class="form-control"
                placeholder="A longer description"></textarea>
            <span class="error hiddencomplete" id="descerror">This description is a required field</span>
        </div>
        <div class="form-group">
                    <label id="spacelabel" for="space">Share with
                        @if(play.api.Play.current.plugin[services.SpaceSharingPlugin].isDefined) {
                            @Messages("spaces.title")
                         } else {
                            a @Messages("space.title")
                        }
                    </label>
                    <select name="space" id="spaceid" class = "form-control chosen-select" @if(play.api.Play.current.plugin[services.SpaceSharingPlugin].isDefined){multiple} style="width: 342px;">
                        @if(!play.api.Play.current.plugin[services.SpaceSharingPlugin].isDefined) {
                            <option value="">Select a @Messages("space.title") to share the collection with (Optional)</option>
                        }
                        @spaceList.map { space =>
                            <option id = "@(space.id)" value="@(space.id)">@(space.name)</option>
                        }
                    </select>
                    @if(play.api.Play.current.plugin[services.SpaceSharingPlugin].isDefined) {
                        <p class="help-block">@Messages("create.share.multiple.message", Messages("collection.title").toLowerCase, Messages("spaces.title"))</p>
                    } else {
                        <p class="help-block">@Messages("create.share.one.message", Messages("collection.title").toLowerCase, Messages("space.title"))</p>
                    }
                </div>
    <!-- <table style="width: 100%; margin-bottom: 40px; margin-top: 40px;">
        <tr>
            <td style="width: 20%; vertical-align:top;" class="input-table-cell">Name:</td>
            <td style="width: 80%; vertical-align:top;" class="input-table-cell">
                <textarea class="form-control" cols=40 rows=4 type="text" id="name"></textarea>
                <span class="error hiddencomplete" id="nameerror"> The name is a required field</span><br>
            </td>
            <td style="vertical-align:top;" class="input-table-cell">

            </td>
        </tr>
        <tr>
            <td style="width: 20%; vertical-align:top;" class="input-table-cell">Description:</td>
            <td style="width: 80%; vertical-align:top;" class="input-table-cell" id="desccell">
                <textarea class="form-control" cols=40 rows=4 type="text" id="description"></textarea>
                <span class="error hiddencomplete" id="descerror"> This description is a required field</span><br>
            </td>
        </tr>
        <tr>
            <td style="width: 20%; vertical-align:top;" class="input-table-cell">Share with @Messages("spaces.title"):</td>
            <td style="width: 35%; vertical-align:top;" class="input-table-cell" id="desccell">
                <select name="space" id="spaceid" class = "form-control chosen-select" @if(play.api.Play.current.plugin[services.SpaceSharingPlugin].isDefined){multiple} style="width: 342px;">
                    @if(!play.api.Play.current.plugin[services.SpaceSharingPlugin].isDefined) {
                        <option value="">Select a @Messages("space.title") to share the collection with (Optional)</option>
                    }
                    @spaceList.map { space =>
                        <option id = "@(space.id)" value="@(space.id)">@(space.name)</option>
                    }
                </select>
                @if(play.api.Play.current.plugin[services.SpaceSharingPlugin].isDefined) {
                    <p class="help-block">@Messages("create.share.multiple.message", Messages("collection.title").toLowerCase, Messages("spaces.title"))</p>
                } else {
                    <p class="help-block">@Messages("create.share.one.message", Messages("collection.title").toLowerCase, Messages("space.title"))</p>
                }
            </td>
        </tr>
        <tr>
            <td>
            </td>
            <td>
                <button style="margin-top: 10px; margin-right: 10px;" class="btn btn-primary" title="Create the collection" onclick="return createCollection();">
                  <span class="glyphicon glyphicon-ok"></span> @Messages("create.title", "")
                </button>
                <button style="margin-top: 10px;" class="btn btn-default" title="Clear the input fields" onclick="return clearFields();">
                  <span class="glyphicon glyphicon-unchecked"></span> Reset
                </button>
            </td>
        </tr>
    </table> -->
    <div class="row create-row visible-lg">
            <div class="col-md-12 create-col">
                <button style="margin-left: 10px;" type="submit" class="btn btn-primary start" title="Create the collection" onclick="return createCollection();">
                    <span class="glyphicon glyphicon-ok"></span> @Messages("create.title", "")
                </button>
                <button class="btn btn-default" title="Clear the input fields" onclick="return clearFields();">
                    <span class="glyphicon glyphicon-unchecked"></span> Reset
                </button>
            </div>
        </div>

      <div class="row create-row visible-xs visible sm">
          <div class="col-md-12 create-col">
              <button style="margin-left: 10px;" type="submit" class="btn btn-primary start" title="Create the collection" onclick="return createCollectionDiffRedirect();">
                  <span class="glyphicon glyphicon-ok"></span> @Messages("create.title", "")
              </button>
              <button class="btn btn-default" title="Clear the input fields" onclick="return clearFields();">
                  <span class="glyphicon glyphicon-unchecked"></span> Reset
              </button>
          </div>
      </div>

    <form id="collectioncreate" action='@routes.Collections.submit' method="POST" enctype="multipart/form-data">
            <!-- Redirect browsers with JavaScript disabled to the origin page -->
        <noscript>Javascript is required in order to use the uploader to create a new collection.</noscript>

        <input type="hidden" name="name" id="hiddenname" value="not set">
        <input type="hidden" name="description" id="hiddendescription" value="not set">
        <input type="hidden" name="space" id="hiddenspace" value="not set">
        <input type="hidden" name="redirect" id="hiddenredirect" value="not set">
    </form>
    </div>


  </div>
<script language="javascript">
    $(".chosen-select").chosen({
        width: "100%",
        placeholder_text_multiple: "(optional)"
    });
</script>
<script language = "javascript">
    var idNameObj = {};

    function isUndefined(value) {
        return typeof value === 'undefined';
    }

    function getName(id) {
        return idNameObj[id];
    }

    $(document).ready(function() {
        @for(space <- spaceList) {
            idNameObj["@space.name"] = "@space.id";

        }
        $(".chosen-choices").addClass("form-control");
    });

    $(".chosen-select").chosen().change(function(event, params) {
    var targetId = this.getAttribute("id");
    if(!isUndefined(params.selected)) {
        var addedId = params.selected;
        @for(space <- spaceList) {
            var currentId = "@space.id";
            if(currentId != targetId) {
                $("#@space.id option [value="+addedId +']').remove();
                $('#@space.id').trigger("chosen:updated");
            }
        }
        $('ul.chosen-choices li.search-field').css("width", "0");

    }
    else if (!isUndefined(params.deselected)) {
        var removedId = params.deselected;
        @for(space <- spaceList) {
            var currentId = "@space.id";
            if(currentId != targetId) {
                $('#@space.id').prepend($("<option></option>").attr("value", removedId).text(getName(removedId)));
                $('#@space.id').trigger("chosen:updated");
            }
        }
    }
    })

    if(@spaceId.isDefined) {
        $('#@spaceId').prop('selected','selected');
        $('#spaceid').trigger("chosen:updated");
    }
  </script>
}
