@(errorString: String, spaces: List[models.ProjectSpace], isNameRequired: Boolean, isDescriptionRequired: Boolean, spaceId: Option[String])(implicit flash: play.api.mvc.Flash, user: Option[models.User])

@import helper._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@main("Create Vocabulary") {
  <!-- Custom items for the create collection workflow -->
  <script src="@routes.Assets.at("javascripts/vocabulary-create.js")" type="text/javascript"></script>
  <script src="@routes.Assets.at("javascripts/htmlEncodeDecode.js")" language="javascript"></script>
  <script type="text/javascript" language="javascript">
      //Global so that the javascript for the collection creation can reference this.
      var isNameRequired = @isNameRequired;
      var isDescRequired = @isDescriptionRequired;
      var isKeysRequired = true;
  </script>
    <script src="@routes.Assets.at("javascripts/chosen.jquery.js")" type="text/javascript"></script>
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/chosen.css")">
  <div class="page-header">
    <h1>Create New Vocabulary</h1>
  </div>
  <div class="row">
	<div class="col-md-12">
	
	<div>
        <span id="status" class="success hiddencomplete alert alert-success" role="alert">A Status Message</span>     
        @if(errorString != null){
            <span class="error alert alert-danger" id="messageerror">@errorString</span>
        }else{           
            <span class="error hiddencomplete alert alert-danger" id="messageerror">An Error Message</span>
        }
    </div>
    <!-- Basic required elements for creating a new collection. -->
    <table style="width: 100%; margin-bottom: 40px; margin-top: 40px;">
        <tr>
            <td style="width: 20%; vertical-align:top;" class="input-table-cell">Name:</td>
            <td style="width: 80%; vertical-align:top;" class="input-table-cell">
                <textarea class="form-control" cols=40 rows=4 type="text" id="name"></textarea>
                <span class="error hiddencomplete" id="nameerror"> The name is a required field</span><br>
            </td>
            <td style="vertical-align:top;" class="input-table-cell">

            </td>
        </tr>
        <tr>
            <td style="width: 20%; vertical-align:top;" class="input-table-cell">Keys:</td>
            <td style="width: 80%; vertical-align:top;" class="input-table-cell" id="desccell">
                <textarea class="form-control" cols=40 rows=4 type="text" id="keys"></textarea>
                <span class="error hiddencomplete" id="keyerror"> This keys is a required field</span><br>
            </td>
        </tr>
        <tr>
            <td style="width: 20%; vertical-align:top;" class="input-table-cell">Description:</td>
            <td style="width: 80%; vertical-align:top;" class="input-table-cell" id="desccell">
                <textarea class="form-control" cols=40 rows=4 type="text" id="description"></textarea>
                <span class="error hiddencomplete" id="descerror"> This description is a required field</span><br>
            </td>
        </tr>        
        <tr>
            <td style="width: 20%; vertical-align:top;" class="input-table-cell">Share with spaces (optional):</td>
            <td style="width: 35%; vertical-align:top;" class="input-table-cell" id="desccell">
                <select name="space" id="spaceid" class = "form-control chosen-select" multiple style="width: 342px;">
                    @spaces.map { space =>
                        <option id = "@(space.id)" value="@(space.id)">@(space.name)</option>
                    }
                </select>
            </td>
        </tr>
        <tr>
            <td>	                            
            </td>
            <td>
                <button style="margin-top: 10px; margin-right: 10px;" class="btn btn-primary" title="Create the collection" onclick="return createVocabulary();">
                  <span class="glyphicon glyphicon-ok"></span> Create
                </button>
                <button style="margin-top: 10px;" class="btn btn-default" title="Clear the input fields" onclick="return clearFields();">
                  <span class="glyphicon glyphicon-unchecked"></span> Reset
                </button>
            </td>
        </tr>
    </table>	
    <form id="collectioncreate" action='@routes.Vocabularies.submit' method="POST" enctype="multipart/form-data">
                    <!-- Redirect browsers with JavaScript disabled to the origin page -->
                    <noscript>Javascript is required in order to use the uploader to create a new collection.</noscript>
                    
                    <input type="hidden" name="name" id="hiddenname" value="not set">
                    <input type="hidden" name="keys" id="hiddenkeys" value="not set">
                    <input type="hidden" name="description" id="hiddendescription" value="not set">
                    <input type="hidden" name="space" id="hiddenspace" value="not set">
    </form>
    </div>
  </div>
<script language="javascript">
    $(".chosen-select").chosen({
        width: "100%",
        placeholder_text_multiple: "Select spaces for this collection."
    });
</script>
<script language = "javascript">
    var idNameObj = {};

    function isUndefined(value) {
        return typeof value === 'undefined';
    }

    function getName(id) {
        return idNameObj[id];
    }

    $(document).ready(function() {
        @for(space <- spaces) {
            idNameObj["@space.name"] = "@space.id";

        }
        $(".chosen-choices").addClass("form-control");
    });

    $(".chosen-select").chosen().change(function(event, params) {
    var targetId = this.getAttribute("id");
    if(!isUndefined(params.selected)) {
        var addedId = params.selected;
        @for(space <- spaces) {
            var currentId = "@space";
            if(currentId != targetId) {
                $("#@space.id option [value="+addedId +']').remove();
                $('#@space.id').trigger("chosen:updated");
            }
        }
        $('ul.chosen-choices li.search-field').css("width", "0");

    }
    else if (!isUndefined(params.deselected)) {
        var removedId = params.deselected;
        @for(space <- spaces) {
            var currentId = "@space";
            if(currentId != targetId) {
                $('#@space.id').prepend($("<option></option>").attr("value", removedId).text(getName(removedId)));
                $('#@space.id').trigger("chosen:updated");
            }
        }
    }
    })

    if(@spaceId.isDefined) {
        $('#@spaceId').prop('selected','selected');
        $('#spaceid').trigger("chosen:updated");
    }
  </script>
}
