
@(displayedName: String,  newsfeed: List[models.Event], profile:User, datasetsList: List[Dataset], collectionsList:List[Collection], spacesList: List[ProjectSpace],
        deletePermission: Boolean,  followers: List[(UUID, String, String, String)], followedUsers: List[(UUID, String, String, String)], followedFiles: List[(UUID, String, String)],
        followedDatasets: List[(UUID, String, String)], followedCollections: List[(UUID, String, String)],
        followedSpaces: List[(UUID, String, String)], ownProfile: Option[Boolean], userSelections: List[String])(implicit user: Option[models.User])

@import _root_.util.Formatters

@main(displayedName) {
    <script src="@routes.Assets.at("javascripts/collectionListProcess.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/datasetListProcess.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/spaceListProcess.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/deleteUtils.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/stickytabs/jquery.stickytabs.js")" type="text/javascript"></script>

    <div class="row">
        <h2>@profile.fullName</h2>
        <div class="button-margins">
            <a href="@routes.Profile.viewProfileUUID(profile.id)" class="btn btn-link" title="Show profile">
                <span class="glyphicon glyphicon-user"></span> Profile</a>
            <a href="@routes.Spaces.newSpace()" class="btn btn-link" title="Create a new @Messages("space.title")">
                <span class="glyphicon glyphicon-ok"></span> @Messages("create.title", Messages("space.title"))</a>
            <a href="@routes.Datasets.newDataset(None, None)" class="btn btn-link" title="Create a new dataset">
                <span class="glyphicon glyphicon-ok"></span> @Messages("create.title", Messages("dataset.title"))</a>
            <a href="@routes.Collections.newCollection(None)" class="btn btn-link" title="Create a new collection">
                <span class="glyphicon glyphicon-ok"></span> @Messages("create.title", Messages("collection.title"))</a>
        </div>
    <div class="row">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#events" aria-controls="events" role="tab" data-toggle="tab"><b>Activity</b></a></li>
            <li role="presentation"><a href="#spaces" aria-controls="spaces" role="tab" data-toggle="tab"><b>@play.api.i18n.Messages("home.title", play.api.i18n.Messages("spaces.title"))</b></a></li>
            <li role="presentation"><a href="#datasets" aria-controls="datasets" role="tab" data-toggle="tab"><b>@play.api.i18n.Messages("home.title", play.api.i18n.Messages("datasets.title"))</b></a></li>
            <li role="presentation"><a href="#collections" aria-controls="collections" role="tab" data-toggle="tab"><b>@play.api.i18n.Messages("home.title", play.api.i18n.Messages("collections.title"))</b></a></li>
            <li role="presentation"><a href="#followers" aria-controls="followers" role="tab" data-toggle="tab"><b>Followers</b></a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="events">
                <div class="top-padding">
                    @eventsList(newsfeed)
                    <div id="moreevent"></div>
                    <div class="text-center more-events">
                        <a  id="moreeventbutton" href="#/" onClick="moreEvents()" class="btn btn-link">
                            <span class="glyphicon glyphicon-refresh"> </span>
                            View More Events
                        </a>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="spaces">
                @* spaces *@
                <div class="row top-padding">
                    <div class="col-xs-12">
                        <p>@Messages("space.list.message", Messages("spaces.title"))</p>
                    </div>
                    <div class="col-xs-6">
                    </div>
                    <div class="col-xs-6">
                        <span class="pull-right">
                            <a href="@routes.Spaces.list("","",12, "", Some(profile.id.stringify))">See More</a>
                        </span>
                    </div>
                </div>
                <div class="row" id="masonry-spaces">
                @spacesList.map { space =>
                    @spaces.tile(space, "col-xs-3", routes.Application.index(), false)
                }
                </div>
                @if(spacesList.size < 1) {
                    <div class="text-center">
                        <div>@Messages("home.empty.message", Messages("spaces.title")) </div>

                        <div> <a class="btn-link" href="@routes.Spaces.newSpace()" title="Create a new @Messages("space.title")">@Messages("create.title", Messages("space.title"))</a></div>
                    </div>
                }
            </div>
            <div role="tabpanel" class="tab-pane" id="datasets">
                @* datasets *@
                <div class="row top-padding">
                    <div class="col-xs-12">
                        <p>@Messages("dataset.list.message", Messages("datasets.title").toLowerCase, Messages("dataset.title").toLowerCase)  </p>
                    </div>
                    <div class="col-xs-6">
                    </div>
                    <div class="col-xs-6">
                        <span class="pull-right"><a href="@routes.Datasets.list("","",12, None, None, "", Some(profile.id.stringify))">See More</a></span>
                    </div>
                </div>

            </div>
            <div role="tabpanel" class="tab-pane" id="collections">
                @* collections *@
                <div class="row top-padding">
                    <div class="col-xs-12">
                        <p>@Messages("collection.list.message", Messages("collections.title").toLowerCase,  Messages("datasets.title").toLowerCase )</p>
                    </div>
                    <div class="col-xs-6">
                    </div>
                    <div class="col-xs-6">
                        <span class="pull-right">
                            <a href="@routes.Collections.list("","",12, None, "", Some(profile.id.stringify))">See More</a>
                        </span>
                    </div>
                </div>
                <div class="row" id ="masonry-collections">
                @collectionsList.map { collection =>
                    @collections.tile(collection, routes.Application.index(), None, "col-xs-3", false)
                }
                </div>
                @if(collectionsList.size < 1) {
                    <div class="text-center">
                        <div>@Messages("home.empty.message", Messages("collections.title").toLowerCase) </div>

                        <div> <a class="btn-link" href="@routes.Collections.newCollection(None)" title="Create a new @Messages("collection.title")">@Messages("create.title", Messages("collection.title"))</a></div>
                    </div>
                }
            </div>
            <div role="tabpanel" class="tab-pane" id="followers">
                <div class="row top-padding">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <h2> Followers</h2>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <span class="pull-right"> <a href="@routes.Users.getFollowers()">See More</a></span>
                    </div>
                </div>
                <div class="row">

                    @for(row <- followers) {
                        @users.tile(row, "col-xs-2", false)
                    }
                    @if(followers.size < 1) {
                        <div class="text-center col-xs-12">
                            This area will show users that follow you. Ask other users to follow you <a class="btn-link" href="@routes.Profile.viewProfileUUID(profile.id)">here</a>
                        </div>
                    }
                </div>
                <h2>Following</h2>
                <div class="panel-group" id="accordion" style="margin-top: 15px">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Users</a>
                                    </div>
                                    <div class="col-xs-6">
                                        <span class="pull-right"> <a href="@routes.Users.getFollowing()">See More</a></span>
                                    </div>
                                </div>

                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse">
                            <div class="panel-body caption break-word">
                                <div class="row" style="margin-top : 15px;">
                                @for(userInfo <- followedUsers) {
                                    @users.tile(userInfo, "col-xs-2", true)
                                }
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseSpaces">@Messages("spaces.title")</a>
                                    </div>
                                    <div class="col-xs-6">
                                        <span class="pull-right"> <a href="@routes.Spaces.followingSpaces(0, 12, "")">See More</a></span>
                                    </div>
                                </div>

                            </h4>
                        </div>
                        <div id="collapseSpaces" class="panel-collapse collapse">
                            <div class="panel-body">
                            @for(info <- followedSpaces) {
                                <div class="col-xs-3" style="margin-top : 30 px" id="@info._1-tile">
                                    <div class="panel panel-default space-panel">
                                        <div class="pull-left">
                                            <span class="glyphicon glyphicon-hdd"></span>
                                        </div>
                                        <div class="panel-body caption break-word">
                                            <h4><a href="@routes.Spaces.getSpace(info._1)">@info._2.toString</a></h4>
                                        @info._3
                                        </div>
                                        <ul class="list-group space-panel-footer">
                                        @user match {
                                            case Some(viewer) => {
                                                @ownProfile match {
                                                    case Some(sameProfile) => {

                                                            <button
                                                            id="followButton"
                                                            type="button"
                                                            class="
                                                                @if(viewer.followedEntities.filter(x => (x.id == info._1)).nonEmpty) {
                                                                    btn btn-link
                                                                } else {
                                                                    btn btn-link
                                                                }
                                                            "
                                                            data-toggle="button"
                                                            aria-pressed="
                                                                @if(viewer.followedEntities.filter(x => (x.id == info._1)).nonEmpty) {
                                                                    true
                                                                } else {
                                                                    false
                                                                }
                                                            "
                                                            autocomplete="off"
                                                            objectType="space"
                                                            objectId="@info._1.stringify"
                                                            >
                                                            @if(viewer.followedEntities.filter(x => (x.id == info._1)).nonEmpty) {
                                                                <span class="glyphicon glyphicon-star-empty"></span> Unfollow
                                                            } else {
                                                                <span class="glyphicon glyphicon-star"></span> Follow
                                                            }
                                                            </button>

                                                    }
                                                    case None => {
                                                    }
                                                }
                                            }
                                            case None => {}
                                        }
                                        </ul>
                                    </div>
                                </div>
                            }
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Files</a>
                                    </div>
                                    <div class="col-xs-6">
                                        <span class="pull-right"> <a href="@routes.Files.followingFiles(0, 12, "")">See More</a></span>
                                    </div>
                                </div>

                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse">
                            <div class="panel-body">
                            @for(fileInfo <- followedFiles) {
                                <div class="col-xs-3" style="margin-top: 30px" id="@fileInfo._1-tile">
                                    <div class="panel panel-default file-panel">
                                        <div class="pull-left">
                                            <span class="glyphicon glyphicon-file"></span>
                                        </div>
                                        <div class="panel-body caption break-word">
                                            <h4><a href="@routes.Files.file(fileInfo._1)">@fileInfo._2.toString</a></h4>
                                        @fileInfo._3
                                        </div>
                                        <ul class="list-group file-panel-footer">
                                        @user match {
                                            case Some(viewer) => {
                                                @ownProfile match {
                                                    case Some(sameProfile) => {

                                                            <button
                                                            id="followButton"
                                                            type="button"
                                                            class="
                                                                @if(viewer.followedEntities.filter(x => (x.id == fileInfo._1)).nonEmpty) {
                                                                    btn btn-link
                                                                }else {
                                                                    btn btn-link
                                                                }
                                                            "
                                                            data-toggle="button"
                                                            aria-pressed="
                                                                @if(viewer.followedEntities.filter(x => (x.id == fileInfo._1)).nonEmpty) {
                                                                    true
                                                                }else {
                                                                    false
                                                                }
                                                            "
                                                            autocomplete="off"
                                                            objectId = "@fileInfo._1.stringify"
                                                            objectType = "file"
                                                            >
                                                            @if(viewer.followedEntities.filter(x => (x.id == fileInfo._1)).nonEmpty) {
                                                                <span class="glyphicon glyphicon-star-empty"></span> Unfollow
                                                            } else {
                                                                <span class="glyphicon glyphicon-star"></span> Follow
                                                            }
                                                            </button>

                                                    }
                                                    case None => {
                                                    }
                                                }
                                            }
                                            case None => {}
                                        }
                                        </ul>
                                    </div>
                                </div>
                            }
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Datasets</a>
                                    </div>
                                    <div class="col-xs-6">
                                        <span class="pull-right"> <a href="@routes.Datasets.followingDatasets(0, 12, "")">See More</a></span>
                                    </div>
                                </div>

                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse">
                            <div class="panel-body">
                            @for(datasetInfo <- followedDatasets) {
                                <div class="col-xs-3" style="margin-top: 30px" id="@datasetInfo._1-tile">
                                    <div class="panel panel-default dataset-panel">
                                        <div class="pull-left">
                                            <span class="glyphicon glyphicon-briefcase"></span>
                                        </div>
                                        <div class="panel-body caption break-word">
                                            <h4> <a href="@routes.Datasets.dataset(datasetInfo._1)">@datasetInfo._2.toString</a></h4>
                                        @datasetInfo._3
                                        </div>
                                        <ul class="list-group dataset-panel-footer">
                                        @user match {
                                            case Some(viewer) => {
                                                @ownProfile match {
                                                    case Some(sameProfile) => {

                                                            <button
                                                            id="followButton"
                                                            type="button"
                                                            class="
                                                                @if(viewer.followedEntities.filter(x => (x.id == datasetInfo._1)).nonEmpty) {
                                                                    btn btn-link
                                                                }else {
                                                                    btn btn-link
                                                                }
                                                            "
                                                            data-toggle="button"
                                                            aria-pressed="
                                                                @if(viewer.followedEntities.filter(x => (x.id == datasetInfo._1)).nonEmpty) {
                                                                    true
                                                                }else {
                                                                    false
                                                                }
                                                            "
                                                            autocomplete="off"
                                                            objectType="dataset"
                                                            objectId="@datasetInfo._1.stringify"
                                                            >
                                                            @if(viewer.followedEntities.filter(x => (x.id == datasetInfo._1)).nonEmpty) {
                                                                <span class="glyphicon glyphicon-star-empty"></span> Unfollow
                                                            } else {
                                                                <span class="glyphicon glyphicon-star"></span> Follow
                                                            }
                                                            </button>

                                                    }
                                                    case None => {
                                                    }
                                                }
                                            }
                                            case None => {}
                                        }
                                        </ul>
                                    </div>
                                </div>
                            }
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">Collections</a>
                                    </div>
                                    <div class="col-xs-6">
                                        <span class="pull-right"> <a href="@routes.Collections.followingCollections(0, 12, "")">See More</a></span>
                                    </div>
                                </div>

                            </h4>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse">
                            <div class="panel-body">
                            @for(collectionInfo <- followedCollections) {
                                <div class="col-xs-3" style="margin-top: 30px" id="@collectionInfo._1-tile">
                                    <div class="panel panel-default collection-panel">
                                        <div class="pull-left">
                                            <span class="glyphicon glyphicon-th-large"></span>
                                        </div>
                                        <div class="panel-body caption break-word">
                                            <h4><a href="@routes.Collections.collection(collectionInfo._1)">@collectionInfo._2.toString</a></h4>
                                        @collectionInfo._3
                                        </div>
                                        <ul class="list-group collection-panel-footer">
                                        @user match {
                                            case Some(viewer) => {
                                                @ownProfile match {
                                                    case Some(sameProfile) => {

                                                            <button
                                                            id="followButton"
                                                            type="button"
                                                            class="
                                                                @if(viewer.followedEntities.filter(x => (x.id == collectionInfo._1)).nonEmpty) {
                                                                    btn btn-link
                                                                }else {
                                                                    btn btn-link
                                                                }
                                                            "
                                                            data-toggle="button"
                                                            aria-pressed="
                                                                @if(viewer.followedEntities.filter(x => (x.id == collectionInfo._1)).nonEmpty) {
                                                                    true
                                                                }else {
                                                                    false
                                                                }
                                                            "
                                                            autocomplete="off"
                                                            objectType="collection"
                                                            objectId="@collectionInfo._1.stringify"
                                                            >
                                                            @if(viewer.followedEntities.filter(x => (x.id == collectionInfo._1)).nonEmpty) {
                                                                <span class="glyphicon glyphicon-star-empty"></span> Unfollow
                                                            } else {
                                                                <span class="glyphicon glyphicon-star"></span> Follow
                                                            }
                                                            </button>

                                                    }
                                                    case None => {
                                                    }
                                                }
                                            }
                                            case None => {}
                                        }
                                        </ul>
                                    </div>
                                </div>
                            }

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <script src="@routes.Assets.at("javascripts/lib/masonry.pkgd.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/lib/imagesloaded.pkgd.min.js")" type="text/javascript"></script>

    <script>
        var removeIndicator=true;
        function activateOne(id) {
            // initialize Masonry
            var $container = $('#'+id).masonry();
            // layout Masonry again after all images have loaded
            imagesLoaded( '#masonry', function() {
                $container.masonry({
                itemSelector: '.post-box',
                columnWidth: '.post-box',
                transitionDuration: 4
                });
            });
        }

        function activate(){
            activateOne("masonry-datasets");
            activateOne("masonry-collections");
            activateOne("masonry-spaces");
        }

        $(document).ready(function() {
            activate();
            $('.nav-tabs').stickyTabs();
        });

        // fire when showing from tab
        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
            activate();
        })

        var eventCount = 3;
        function moreEvents(){
            var request = jsRoutes.controllers.Events.getEvents(eventCount).ajax({
                type: 'GET'
            });

            request.done(function (response, textStatus, jqXHR) {
                eventCount = eventCount + 1;
                $("#moreevent").append(response);
            });

            request.fail(function (jqXHR, textStatus, errorThrown){
                console.error("The following error occured: " + textStatus, errorThrown);
                notify("Could not get moe events: " + errorThrown, "error");
            });
        }
    </script>
    <script src="@routes.Assets.at("javascripts/follow-button.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/select.js")" type="text/javascript"></script>
    @*******
    *if(user.isDefined) {
    *    @carousel(files)
    *}
    ********@
}
