@(myForm: Form[FileMD])(implicit user: Option[models.User])



@import helper._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

<!-- 
The majority of this file has now been changed to be based off elements from the demonstration HTML page
of the blueimp jQuery File Upload library. An open source project locatd here: http://blueimp.github.io/jQuery-File-Upload/
 -->

<!-- Force latest IE rendering engine or ChromeFrame if installed -->
<!--[if IE]>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<![endif]-->

<!-- blueimp Gallery styles - downloaded to make the resource local -->
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/file-uploader/blueimp-gallery.min.css")">
<!-- Generic page styles -->
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/file-uploader/style.css")">
<!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/file-uploader/jquery.fileupload.css")">
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/file-uploader/jquery.fileupload-ui.css")">
<!-- CSS adjustments for browsers with JavaScript disabled -->
<noscript><link rel="stylesheet" href="@routes.Assets.at("stylesheets/file-uploader/jquery.fileupload-noscript.css")"></noscript>
<noscript><link rel="stylesheet" href="@routes.Assets.at("stylesheets/file-uploader/jquery.fileupload-ui-noscript.css")"></noscript>

@main("Clowder") {
<div class="container">
  <div class="page-header">
    <h1>File Upload</h1>
  </div>
	   
    <!-- The file upload form used as target for the file upload widget -->
    <form id="fileupload" action='@routes.Files.uploadAndExtract' method="POST" enctype="multipart/form-data">
        <!-- Redirect browsers with JavaScript disabled to the origin page -->
        <noscript>Javascript is required to use the file uploader.</noscript>
        <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
        <div class="row fileupload-buttonbar">
            <div class="col-lg-7">
                <!-- The fileinput-button span is used to style the file input field as button -->
                <span class="btn btn-link fileinput-button">
                    <i class="glyphicon glyphicon-plus"></i>
                    <span>Add files</span>
                        <!-- The file input had "multiple" removed for the current dataset creation method. -->
                    <input type="file" name="files[]" multiple>
                    <input type="hidden" name="datasetLevel" value="DatasetLevel">
                </span>
                <button type="submit" class="btn btn-link start" type="submit">
                    <span class="glyphicon glyphicon-upload"></span> Start upload
                </button>
                <button type="reset" class="btn btn-link cancel">
                    <span class="glyphicon glyphicon-remove"></span> Cancel upload
                </button>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <label>
                    <input type="checkbox" class="toggle"> Select all
                </label>
                <button type="button" class="btn btn-link delete" style="margin-bottom: 0px">
                    <span class="glyphicon glyphicon-trash"></span> Delete selected
                </button>
                <!-- The global file processing state -->
                <span class="fileupload-process"></span>
                
            </div>
            <!-- The global progress state -->
            <div class="col-lg-5 fileupload-progress fade">
                <!-- The global progress bar -->
                <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar progress-bar-success" style="width:0%;"></div>
                </div>
                <!-- The extended global progress state -->
                <div class="progress-extended">&nbsp;</div>
            </div>
        </div>
        <!-- The table listing the files available for upload/download -->
        <table role="presentation" class="table table-striped"><tbody class="files"></tbody></table>
    </form>
</div>
	
	<!-- The blueimp Gallery widget -->
<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls" data-filter=":even">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
</div>

<!-- The template to display files available for upload -->
<script id="template-upload" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-upload fade">
        <td>
            <span class="preview"></span>
        </td>
        <td>
            <p class="name">{%=file.name%}</p>
            <strong class="error text-danger"></strong>
        </td>
        <td>
            <p class="size">Processing...</p>
            <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="progress-bar progress-bar-success" style="width:0%;"></div></div>
        </td>
        <td>
            {% if (!i && !o.options.autoUpload) { %}
                <button type="button" class="btn btn-link start" disabled>
                    <span class="glyphicon glyphicon-play"></span> Start
                </button>
            {% } %}
            {% if (!i) { %}
                <button type="button" class="btn btn-link cancel">
                    <span class="glyphicon glyphicon-remove"></span> Cancel
                </button>
            {% } %}
        </td>
    </tr>
{% } %}
</script>
<!-- The template to display files available for download -->
<script id="template-download" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-download fade">
        {% if (file.deleteUrl) { %}
        <td>
            <input type="checkbox" name="delete" value="1" class="toggle">
        </td>
        {% } %}
        <td>
            <span class="preview">
                {% if (file.thumbnailUrl) { %}
                    <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" data-gallery><img src="{%=file.thumbnailUrl%}"></a>
                {% } %}
            </span>
        </td>
        <td>
            <p class="name">
                {% if (file.url) { %}
                    <a href="{%=file.url%}" title="{%=file.name%}" target="_blank" {%=file.thumbnailUrl?'data-gallery':''%}>{%=file.name%}</a>
                {% } else { %}
                    <span>{%=file.name%}</span>
                {% } %}
            </p>
            {% if (file.error) { %}
                <div><span class="label label-danger">Error</span> {%=file.error%}</div>
            {% } %}
        </td>
        <td>
            <span class="size">{%=o.formatFileSize(file.size)%}</span>
        </td>
        <td>
            {% if (file.deleteUrl) { %}
                <button type="button" class="btn btn-link delete" data-type="{%=file.deleteType%}" data-url="{%=file.deleteUrl%}"{% if (file.deleteWithCredentials) { %} data-xhr-fields='{"withCredentials":true}'{% } %}>
                    <span class="glyphicon glyphicon-trash"></span> Delete
                </button>
            {% } else { %}
                <button type="button" class="btn btn-link cancel">
                    <span class="glyphicon glyphicon-remove"></span> Cancel
                </button>
            {% } %}
        </td>
    </tr>
{% } %}
</script>

<!-- The Templates plugin is included to render the upload/download listings - downloaded to make the resource local -->
<script src="@routes.Assets.at("javascripts/file-uploader/tmpl.min.js")"></script>
<!-- The Load Image plugin is included for the preview images and image resizing functionality - downloaded to make the resource local -->
<script src="@routes.Assets.at("javascripts/file-uploader/load-image.all.min.js")"></script>
<!-- The Canvas to Blob plugin is included for image resizing functionality - downloaded to make the resource local -->
<script src="@routes.Assets.at("javascripts/file-uploader/canvas-to-blob.min.js")"></script>
<!-- blueimp Gallery script - downloaded to make the resource local-->
<script src="@routes.Assets.at("javascripts/file-uploader/jquery.blueimp-gallery.min.js")"></script>
<!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
<script src="@routes.Assets.at("javascripts/file-uploader/jquery.iframe-transport.js")"></script>
<!-- The basic File Upload plugin -->
<script src="@routes.Assets.at("javascripts/file-uploader/jquery.fileupload.js")"></script>
<!-- The File Upload processing plugin -->
<script src="@routes.Assets.at("javascripts/file-uploader/jquery.fileupload-process.js")"></script>
<!-- The File Upload image preview & resize plugin -->
<script src="@routes.Assets.at("javascripts/file-uploader/jquery.fileupload-image.js")"></script>
<!-- The File Upload audio preview plugin -->
<script src="@routes.Assets.at("javascripts/file-uploader/jquery.fileupload-audio.js")"></script>
<!-- The File Upload video preview plugin -->
<script src="@routes.Assets.at("javascripts/file-uploader/jquery.fileupload-video.js")"></script>
<!-- The File Upload validation plugin -->
<script src="@routes.Assets.at("javascripts/file-uploader/jquery.fileupload-validate.js")"></script>
<!-- The File Upload user interface plugin -->
<script src="@routes.Assets.at("javascripts/file-uploader/jquery.fileupload-ui.js")"></script>
<!-- The main application script -->
<script src="@routes.Assets.at("javascripts/file-uploader/main.js")"></script>
<!-- Scripts below to facilitate authentication checking on callback before the library uploading is invoked. -->
<script src="@routes.Assets.at("javascripts/file-uploader/jquery.fileupload-medici-auth.js")"></script>
<script src="@routes.Assets.at("javascripts/errorRedirect.js")" type="text/javascript"></script>
<!-- The XDomainRequest Transport is included for cross-domain file deletion for IE 8 and IE 9 -->
<!--[if (gte IE 8)&(lt IE 10)]>
<script src="js/cors/jquery.xdr-transport.js"></script>
<![endif]-->
	
}
